<div class="images lite">
    <div class="shadow-main"></div>
    <img src="http://vidlis.fr/images/albums/d96580bf79064bbbcb59795e7586d981.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/131de3b4295e4de69d0306b021aeec8d.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/1373e5f8bdee40abc009a6b40cf7d3e1.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/f84d5f99511a4536b3467c1e26e7018f.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/3de8d7b9740a4c9b830c329b73dbaeaa.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/e9ce3237b4d14996830c9ff150de723c.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/865c07d02f9f435cc375a1acf9dac292.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/a5fdf95bb88649fa8d92c024a675490d.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/64a39067ef5a44d1a862f2471c4b486e.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/39526cf16ad94d77a54f0b3d14a8ea97.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/11411fd1fc0c476ec74d3c9db5289615.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/393ebb9f52364bad8dd925b8167b4a2c.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/0dc2afe2c8204593ba80e29ee94478ae.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/e13a4d0a2cbb4e4c948a92ff5dd0b059.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/df05367287b649be918ab08122c0707a.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/af2b5176361047ad8ae94eb0c1abe897.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/ff8014323f8b43e6adac47a7239b3b64.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/72d9a78ae1cd4d5286b9495ae4b9fe83.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/f1d4da85fb6c43d0b90843f7bc48b6ba.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/bf50404348b946f58994b34c2e643331.png" class="imagesAlbum">
</div>
<div class="p-8 text-white flex text-2xl">
    <div class="flex-1 py-2">Hello {{ signinService.user.username }},</div>
    <div class="border border-white p-2 rounded cursor-pointer hover:bg-white hover:text-black" (click)="logout()">
        <i class="far fa-sign-out-alt"></i>
    </div>
</div>
<div class="content px-8 flex flex-col">
    <div class="text-2xl text-white py-4">My latest tracks</div>
    <perfect-scrollbar class="flex-1">
        <div class="flex flex-row playlist-content">
            <div class="item flex flex-row p-2 my-2 mr-2 cursor-pointer text-white text-sm bg-grey-dark-item" *ngFor="let item of played; let i =index;" style="min-width: 200px" (click)="addToPlaylist(item[0])">
                <div class="rounded bg-white overflow-hidden shadow-lg w-full">
                    <div class="flex-1 h-48 bg-cover text-center overflow-hidden bg-center" [ngStyle]="{'background-image': 'url(https://i.ytimg.com/vi/'+ item[0].id_video +'/mqdefault.jpg)'}">
                    </div>
                </div>
            </div>
        </div>
    </perfect-scrollbar>
</div>

<div class="content px-8 pt-8 flex flex-col">
    <div class="text-2xl text-white py-4">My playlists</div>
    <perfect-scrollbar class="flex-1">
    <div class="flex flex-row playlist-content">
        <div *ngFor="let playlist of playlists; let i = index;">
            <div class="flex-1 bg-white rounded overflow-hidden shadow-lg mx-4 mb-4" *ngIf="playlist.items.length > 0" style="min-width: 400px; max-width: 400px; width: 400px;">
                <div class="flex-1 h-48 bg-cover text-center overflow-hidden bg-center" [ngStyle]="{'background-image': 'url(https://i.ytimg.com/vi/'+ playlist.items[0].id_video +'/mqdefault.jpg)'}" title="{{ playlist.name }}">
                </div>
                <div class="px-6 py-4 border-b">
                    <div class="font-bold text-xl mb-2 truncate">{{ playlist.name }}</div>
                    <p class="text-grey-darker text-base">
                        by <span class="italic font-semibold">{{ playlist.user.username }}</span>
                    </p>
                </div>
                <div class="items overflow-auto" style="height: 250px;">
                    <div class="py-1 track flex flex-row cursor-pointer hover:bg-grey" [ngClass]="{'bg-grey-light': (i % 2 == 0) }" *ngFor="let item of playlist.items; let i = index;" (click)="addToPlaylist(item)">
                        <div class="p-2">{{ i+1 }}</div>
                        <div class="p-2">-</div>
                        <div class="flex-1 p-2 truncate">{{ item.video_name }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </perfect-scrollbar>
</div>
