<div class="images lite">
    <div class="shadow-main"></div>
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/8dcbdfe647304258af01293dbb5b471e.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/68cdce099ce5f18236298c675f5f850c.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/01ff437895a1465eb4f80d2867aca196.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/1f17900b04764472a89bb707d53dc973.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/caca21c9ec15400aac53742dbe974553.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/54fe226f4af6494ca941fb1ef8c168da.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/bcce6d304ee04357af4bbf5302b08293.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/5d5a3f415f3c41489d69a9731020b770.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/c22fd79ed6cb4fbaa01484110ce992ad.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/4a10f33cf9103bf0fcc74bab12939c3f.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/6d0bc81466ded2a0d6fc750c9b6d3326.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/36c1db6ac58662be784b24808ac8f8dc.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/5178948dfe164faab966621f7f80cd62.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/7f7f0eaf56402526b1efe2c7315193e8.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/7976bae5f888422ab3e31b72ad0d664a.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/200c723b42f14857922d33ff9a532711.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/3a66cef164884204967c4dc9b7780c64.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/83b87381c10a744a5c8b5c1798612746.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/a974bcf52cef40228d8a5b7910a1dbcb.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/240710c37b6a45cfc5db452a7e3527ba.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/85eff8e05fa84d0ca64b41e504edadbe.png" class="imagesAlbum">
</div>
<div class="p-3 md:p-6 lg:p-8 text-white flex text-2xl">
    <div class="flex-1 py-1">Hello {{ signinService.user.username }},</div>
    <div class="border border-white p-1 rounded cursor-pointer hover:bg-white hover:text-black" (click)="logout()">
        <i class="far fa-sign-out-alt"></i>
    </div>
</div>
<div class="content px-3 md:px-6 lg:px-8 flex flex-col">
    <div class="text-2xl text-white py-4">My latest tracks</div>
    <perfect-scrollbar class="flex-1">
        <div class="flex flex-row playlist-content">
            <div class="item flex flex-row p-2 my-2 mr-2 cursor-pointer text-white text-sm bg-grey-dark-item" *ngFor="let item of played; let i =index;" style="min-width: 200px" (click)="addToPlaylist(item[0])">
                <div class="rounded bg-white overflow-hidden shadow-lg w-full">
                    <div class="flex-1 h-24 md:h-48 bg-cover text-center overflow-hidden bg-center" [ngStyle]="{'background-image': 'url(https://i.ytimg.com/vi/'+ item[0].id_video +'/mqdefault.jpg)'}">
                    </div>
                </div>
            </div>
        </div>
    </perfect-scrollbar>
</div>

<div class="content px-3 pt-3 md:px-6 md:pt-6 lg:px-8 lg:pt-8 flex flex-col">
    <div class="text-2xl text-white py-4">My playlists</div>

    <div class="content flex flex-wrap">
        <div class="lg:w-1/2 xl:w-1/3 p-1 sm:p-3 cursor-pointer w-full" *ngFor="let playlist of playlists; let i = index;">
            <div class="flex-1 bg-white rounded overflow-hidden shadow-lg" *ngIf="playlist.items.length > 0">
                <div class="flex-1 h-48 bg-cover text-center overflow-hidden bg-center" [ngStyle]="{'background-image': 'url(https://i.ytimg.com/vi/'+ playlist.items[0].id_video +'/mqdefault.jpg)'}" title="{{ playlist.name }}">
                </div>
                <div class="px-6 py-4 border-b">
                    <div class="font-bold text-xl mb-2 truncate">{{ playlist.name }}</div>
                    <p class="text-grey-darker text-base">
                        by <span class="italic font-semibold">{{ playlist.user.username }}</span>
                    </p>
                </div>
                <div class="items overflow-auto" style="height: 250px;">
                    <div class="py-1 track flex flex-row cursor-pointer hover:bg-grey" [ngClass]="{'bg-grey-light': (i % 2 == 0) }" *ngFor="let item of playlist.items; let i = index;" (click)="addToPlaylist(item)">
                        <div class="p-2">{{ i+1 }}</div>
                        <div class="p-2">-</div>
                        <div class="flex-1 p-2 truncate">{{ item.video_name }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
