<div id="right_content">
    <div id="feeds">
        {% if connected %}
            {% include 'VidlisCoreBundle:Playlist:menu.html.twig' with {'tab': 'all'} %}
            <h3>Your last viewed videos</h3>
            {% if videosPlayed|length == 0 %}
                <div class="alert alert-success" style="margin:10px;">You are new here ? Just play a video and you never see this message again ;).</div>
            {% else %}
                {% include 'VidlisUserBundle:Profile:played.html.twig' with {'videosPlayed': videosPlayed} %}
                {% if videosPlayed|length == 24 %}
                    <div class="loadMoreContentPlayed" data-limit="24" data-offset="24">Loading</div>
                {% endif %}
            {% endif %}
        {% else %}
            <a href="{{ path('fos_user_registration_register') }}" class="btn-register-home toModalHTML">Create an account</a>
        {% endif %}
    </div>
</div>
{% include 'VidlisCoreBundle:Default:menu.html.twig'%}
