<div class="images lite">
    <div class="shadow-main"></div>
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/07f492a00c904cc6ccf868010be4d5a6.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/6d2eea48197140eaa88bd78ee49c991a.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/3026db279f874a2ebf19b80fd3ac1449.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/577bf6a6f948a748d74c439bacfdfb41.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/90bb40360d154e21ce1641fed3f9c2c9.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/48309bc9fa65339089e6055afe16af39.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/070ba72ab0394085b09a77491d352752.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/6ded54858e7844d980909ba76c572e40.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/7ee97a7c0e884ca6cc0da389481fafe8.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/566b02f4340d414191aa719bb11a7283.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/02c08f5eb34e4242b06778bd0cf5a7e1.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/131fa5aeade0eb79d304cb30f149c6e2.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/1330ff2ab6164abf94dbb8828616a5ad.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/33b47c07494c424196e08fd73c0ba606.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/30828ccc656c45feb54e520befd1a84c.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/c800e0d794a24d879e8a5e3dc590d054.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/d27e218766b54431c409b2ce5d5f4952.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/884a8a6d5014471bc731806d0bff54cd.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/ed79871d9fb9445c815fff0a366091cb.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/fac89a2065604be1bcc2f04ce132b581.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/f5d68d716a2f4897c88b82a8393afa76.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/0405068f2cacc46efc940f61c07b7129.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/5c1d99a84c354bcda580b04e3c5848af.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/85238f98481648978167768da6694993.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/314e2944288d42eabbf62598239d6c17.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/2a154b9ce97a4a9e9a8dc219cb1830a1.png" class="imagesAlbum">
</div>

<div class="w-full flex justify-center bg-grey">
    <form class="w-full max-w-sm p-3" #searchForm="ngForm" (ngSubmit)="search(searchForm)">
        <div class="flex items-center py-2">
            <input class="appearance-none bg-transparent border-none w-full text-white mr-3 py-1 px-2" ngModel type="text" placeholder="Search your artist" aria-label="Full name" name="query">
            <button class="flex-no-shrink hover:bg-white hover:text-black border-white text-sm border-2 text-white py-1 px-2 rounded" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
</div>

<!--<div class="w-full flex px-3 pt-3 md:px-6 md:pt-6 lg:px-8 lg:pt-8 genders-list flex-wrap" *ngIf="query == null">
    <a [routerLink]=" ['/artists/g', gender] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="no-underline inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2 mt-2" *ngFor="let gender of genders; let i = index;">{{gender}}</a>
</div>-->

<div class="content px-3 pt-3 md:px-6 md:pt-6 lg:px-8 lg:pt-8 flex flex-row flex-wrap" *ngIf="artists.length">
    <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-3 cursor-pointer flex" *ngFor="let artist of artists; let i = index;" (click)="showDetail(artist)">
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white flex-1">
            <img class="w-full" src="{{ artist.albums[0].image }}" alt="{{ artist.name }}">
            <div class="px-6 pt-4">
                <div class="font-bold text-xl mb-2">{{ artist.name }}</div>
            </div>
            <!--
            <div class="px-6 pb-4">
                <a [routerLink]=" ['/artists/g', tag.name] " class="no-underline inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2 mt-2" *ngFor="let tag of artist.tags; let i = index;">{{ tag.name }}</a>
            </div>
            -->
        </div>
    </div>
</div>

<div class="text-2xl content flex justify-center text-center text-white opacity-50 flex-col m-8 p-8" *ngIf="loaded == false">
    <div class="text-4xl">Loading</div>
    <div class="text-5xl p-8"><i class="fa fa-spinner-third fa-w-16 fa-spin fa-lg"></i></div>
</div>

<div class="content flex flex-row flex-wrap justify-center" *ngIf="loadedMore == true">
    <div class="w-full max-w-xs mt-3 bg-white color-white rounded-xs shadow p-3 text-center cursor-pointer hover:bg-grey-lightest" (click)="loadArtists()">
        Load more artists
    </div>
</div>


