<div class="images lite">
    <div class="shadow-main"></div>
</div>

<div class="w-full flex justify-center bg-grey">
    <form class="w-full max-w-sm p-3" #searchForm="ngForm" (ngSubmit)="search(searchForm)">
        <div class="flex items-center py-2">
            <input class="appearance-none bg-transparent border-none w-full text-white mr-3 py-1 px-2" ngModel type="text" placeholder="Search your artist" aria-label="Full name" name="query">
            <button class="flex-no-shrink hover:bg-white hover:text-black border-white text-sm border-2 text-white py-1 px-2 rounded" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
</div>

<!--<div class="w-full flex px-3 pt-3 md:px-6 md:pt-6 lg:px-8 lg:pt-8 genders-list flex-wrap" *ngIf="query == null">
    <a [routerLink]=" ['/artists/g', gender] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="no-underline inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2 mt-2" *ngFor="let gender of genders; let i = index;">{{gender}}</a>
</div>-->

<div class="content px-8 pt-8 flex flex-row flex-wrap" *ngIf="loaded == true">
    <div class="sm:w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-3 cursor-pointer flex" *ngFor="let artist of artists; let i = index;" (click)="showDetail(artist)">
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white flex-1">
            <img class="w-full" src="{{ artist.albums[0].image }}" alt="{{ artist.name }}">
            <div class="px-6 pt-4">
                <div class="font-bold text-xl mb-2">{{ artist.name }}</div>
            </div>
            <div class="px-6 pb-4">
                <a [routerLink]=" ['/artists/g', tag.name] " class="no-underline inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2 mt-2" *ngFor="let tag of artist.tags; let i = index;">{{ tag.name }}</a>
            </div>
        </div>
    </div>
</div>

<div class="text-2xl content flex justify-center text-center text-white opacity-50 flex-col m-8 p-8" *ngIf="loaded == false">
    <div class="text-4xl">Loading</div>
    <div class="text-5xl p-8"><i class="fa fa-spinner-third fa-w-16 fa-spin fa-lg"></i></div>
</div>

<div class="content flex flex-row flex-wrap justify-center" *ngIf="loadedMore == true">
    <div class="w-full max-w-xs mt-3 bg-white color-white rounded-xs shadow p-3 text-center cursor-pointer hover:bg-grey-lightest" (click)="loadArtists()">
        Load more artists
    </div>
</div>


