<div class="images">
    <div class="shadow-main"></div><!--
    <img src="http://vidlis.fr/images/albums/d96580bf79064bbbcb59795e7586d981.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/131de3b4295e4de69d0306b021aeec8d.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/1373e5f8bdee40abc009a6b40cf7d3e1.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/f84d5f99511a4536b3467c1e26e7018f.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/3de8d7b9740a4c9b830c329b73dbaeaa.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/e9ce3237b4d14996830c9ff150de723c.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/865c07d02f9f435cc375a1acf9dac292.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/a5fdf95bb88649fa8d92c024a675490d.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/64a39067ef5a44d1a862f2471c4b486e.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/39526cf16ad94d77a54f0b3d14a8ea97.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/11411fd1fc0c476ec74d3c9db5289615.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/393ebb9f52364bad8dd925b8167b4a2c.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/0dc2afe2c8204593ba80e29ee94478ae.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/e13a4d0a2cbb4e4c948a92ff5dd0b059.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/df05367287b649be918ab08122c0707a.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/af2b5176361047ad8ae94eb0c1abe897.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/ff8014323f8b43e6adac47a7239b3b64.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/72d9a78ae1cd4d5286b9495ae4b9fe83.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/f1d4da85fb6c43d0b90843f7bc48b6ba.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/bf50404348b946f58994b34c2e643331.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/c55fca73c2f54357b0507a95b3e4d9c5.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/6492014d3e244011a614738b64810eb8.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/89767b8f98af496994f7150979063023.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/009dbdd6a50e4f06af3eca1f89afb770.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/6a266a7d4f5647189fb2b1aa8402973a.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/661c1dfcaec94b6d8fc7e50b505446b4.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/79cd001a4a6b49cd9478926e5becb110.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/5f78998aacd44afdb9450dd7d32fb2b4.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/ab5b70dc5bc44c709fe7db8e416881f4.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/e07791af8064c6479f877df6fef6d909.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/7654cb27d5544e32876db8c02ac5afce.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/e87ea462722d47c3a31e5b026e668aaf.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/7d21040b410dd5c1dd02e87a0fae4182.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/4fa1ed66ef07495cc976acb507e73d9b.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/25dc13e9f41b44069bf64b2ace0f2193.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/d9c314d5033efd72c076adfdd9980825.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/028a629f72a6442e91eafc32c1362b65.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/e67142e00f4e47d0a0a45f77c0b85ed9.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/5d2f933fa0244c0fcc038b64bea9baa5.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/f21fc44bdf9b41d9b78654275de1054d.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/4a7edcc8270d782054e7458718868ad8.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/36e1f86015fa4d8595d7848f3cfd9050.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/7f4ae6834ceb410aaf8afb120d5de567.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/118da9a694264cf9cc7ad6257f544a9d.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/b15da0a6a03c4dde8cbbb711cfcdf3f7.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/9047784990394b37bfb1a9ccf32a1e55.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/df2243b9f3194b66ae7775649b5b4a85.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/10a2a7fe28614e06b9c56d36b14c1244.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/9aadaed0305b425f9c60f84958d1e057.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/ace099cbb1f047efafdaa0634add2c0e.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/3013ca87e99e4d6c9e11e5dc647b29ab.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/33f329a207cd48d5935617080eda0ea0.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/27a39c7157c24f6dcfcca2efa8ba6d51.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/aa604f77b59b40e2bc712deb9a0cf24b.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/5a90edc2913a4219bbe0b782824e355a.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/8ba9bdeb385c42fe8b3e48a65e4dbe03.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/8f2271f0ed164e3e81e1c1d738cd06f3.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/0ec2e69b949a471d83c0a100c6f980d1.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/30134041b03a4155c1dad6f5f7c1ffd5.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/f43d5aefdb5747a19f9b26c56060914a.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/d3528a58e4d34fd3acc09c167118814e.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/feba0531ffe8474eb8950e0be31ab47b.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/23673c0351ff47fc9b15d17558a75ae7.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/2d95bfe925f449e0b100117fc2e1a23a.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/cf31886d483747cc804feb2339183864.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/2c091101144f479ac7d59bae7c20a74f.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/468602b840764021a0fabdc4cdcf90e9.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/4d3abd8ef6384c34cc0c120674261ac8.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/77946fcde30f416c8559d5e8d7702dc4.png" class="imagesAlbum">
    <img src="http://vidlis.fr/images/albums/7ab8a4acbb2f4d98a78c8c3e88e5ce4a.png" class="imagesAlbum">-->
    <div class="titleSearch">
        <h2>Create playlists from your<br> favorites YouTube videos</h2>
        <a [routerLink]="['./playlists']" class="no-underline rounded-full border-white text-white border-2">Discover popular playlists</a>
    </div>
</div>
<h2 class="pt-8 pl-8 text-white">Last viewed videos</h2>

<div class="text-2xl content flex justify-center text-center text-white opacity-50 flex-col m-8 p-8" *ngIf="loaded == false || loadedMore == false">
    <div class="text-4xl">loading</div>
    <div class="text-5xl p-8"><i class="fa fa-spinner-third fa-w-16 fa-spin fa-lg"></i></div>
</div>

<div class="content p-8 flex justify-center flex-wrap">
    <div class="sm:w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-3 cursor-pointer" *ngFor="let item of lastVideosPlayed; let i = index;" (click)="addToPlayslist(item)">
        <div class="rounded bg-white overflow-hidden shadow-lg w-full">
            <img class="w-full" src="{{ item.snippet.thumbnails.high.url }}" alt="{{ item.snippet.title }}">
            <div class="px-2 py-2">
                <div class="font-bold text-sm truncate">{{ item.snippet.title }}</div>
            </div>
        </div>
    </div>
</div>