<div class="images">
    <div class="shadow-main"></div>
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/8dcbdfe647304258af01293dbb5b471e.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/68cdce099ce5f18236298c675f5f850c.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/01ff437895a1465eb4f80d2867aca196.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/1f17900b04764472a89bb707d53dc973.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/caca21c9ec15400aac53742dbe974553.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/54fe226f4af6494ca941fb1ef8c168da.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/bcce6d304ee04357af4bbf5302b08293.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/5d5a3f415f3c41489d69a9731020b770.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/c22fd79ed6cb4fbaa01484110ce992ad.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/4a10f33cf9103bf0fcc74bab12939c3f.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/6d0bc81466ded2a0d6fc750c9b6d3326.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/36c1db6ac58662be784b24808ac8f8dc.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/5178948dfe164faab966621f7f80cd62.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/7f7f0eaf56402526b1efe2c7315193e8.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/7976bae5f888422ab3e31b72ad0d664a.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/200c723b42f14857922d33ff9a532711.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/3a66cef164884204967c4dc9b7780c64.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/83b87381c10a744a5c8b5c1798612746.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/a974bcf52cef40228d8a5b7910a1dbcb.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/240710c37b6a45cfc5db452a7e3527ba.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/85eff8e05fa84d0ca64b41e504edadbe.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b55b1f8722761e7af9e4b8f5e1fe7153.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/92c42a7a3be68f7af6eb8dfb1517b592.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/5744237eec614912c9084a1317d7fa31.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/59d2d02e986b44b2bff205327567c9c4.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/533a973c7779411faca6a4243cf39d18.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/135f00330fff4739b9f9ea74ee9009d0.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/8b64099c996247338a6a1b86242b61e7.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/337772ba00b0754eb940acbdaa550aaf.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/e0a2c1023d6f4b22bc9aa7a596317580.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/775f9170f7dd4d6596ba9c1ab0d33700.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/f853e4e3433e489daf46454a8adcb5cd.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/07f492a00c904cc6ccf868010be4d5a6.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/6d2eea48197140eaa88bd78ee49c991a.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/3026db279f874a2ebf19b80fd3ac1449.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/577bf6a6f948a748d74c439bacfdfb41.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/90bb40360d154e21ce1641fed3f9c2c9.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/48309bc9fa65339089e6055afe16af39.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/070ba72ab0394085b09a77491d352752.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/6ded54858e7844d980909ba76c572e40.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/7ee97a7c0e884ca6cc0da389481fafe8.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/566b02f4340d414191aa719bb11a7283.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/02c08f5eb34e4242b06778bd0cf5a7e1.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/131fa5aeade0eb79d304cb30f149c6e2.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/1330ff2ab6164abf94dbb8828616a5ad.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/33b47c07494c424196e08fd73c0ba606.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/30828ccc656c45feb54e520befd1a84c.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/c800e0d794a24d879e8a5e3dc590d054.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/d27e218766b54431c409b2ce5d5f4952.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/884a8a6d5014471bc731806d0bff54cd.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/ed79871d9fb9445c815fff0a366091cb.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/fac89a2065604be1bcc2f04ce132b581.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/f5d68d716a2f4897c88b82a8393afa76.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/0405068f2cacc46efc940f61c07b7129.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/5c1d99a84c354bcda580b04e3c5848af.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/85238f98481648978167768da6694993.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/314e2944288d42eabbf62598239d6c17.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/2a154b9ce97a4a9e9a8dc219cb1830a1.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/32870e6c54df88cd5dd44061d0ecfdb9.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/f79fc9cb63fa4e76ce818e47729fddce.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/f35b4f130c4149aca8364b6139c4b06f.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b299e9a74bb0777fd56f7319d8e5e3f8.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/24358075df8b41b8c1acfe1dec5dad9f.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/ea8258fa65554a80cace3f15b8abbc36.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/7ee97a7c0e884ca6cc0da389481fafe8.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/c77c5c06b6944c31a702bf76d139af52.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/5351e2e74f0dd9a845e1f62d4e8e12f9.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/775f9170f7dd4d6596ba9c1ab0d33700.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/f4d884c95a1c5c06fa67cbe3dbd80dfe.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/e869fadc472a4f6db29f6dd8ace4937f.png" class="imagesAlbum">
    <div class="titleSearch">
        <h2>Create playlists from your<br> favorites YouTube videos</h2>
        <a [routerLink]="['./playlists']" class="no-underline rounded-full border-white text-white border-2">Discover popular playlists</a>
    </div>
</div>
<h2 class="pt-3 px-3 md:pt-6 lg:px-6 lg:pt-8 lg:px-8 text-white">Last viewed videos</h2>

<div class="text-2xl content flex justify-center text-center text-white opacity-50 flex-col m-8 p-8" *ngIf="loaded == false || loadedMore == false">
    <div class="text-4xl">loading</div>
    <div class="text-5xl p-8"><i class="fa fa-spinner-third fa-w-16 fa-spin fa-lg"></i></div>
</div>

<div class="content p-3 md:p-6 lg:p-8 flex flex-wrap">
    <div class="sm:w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-1 sm:p-3 cursor-pointer max-w-full" *ngFor="let item of lastVideosPlayed; let i = index;" (click)="addToPlayslist(item)">
        <div class="rounded bg-white overflow-hidden shadow-lg w-full">
            <img class="w-full" src="{{ item.snippet.thumbnails.high.url }}" alt="{{ item.snippet.title }}">
            <div class="px-2 py-2">
                <div class="font-bold text-sm truncate">{{ item.snippet.title }}</div>
            </div>
        </div>
    </div>
</div>