{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% include 'AppBundle:Default:header.html.twig' %}
    <div id="content">
        {{
        render(
        controller('AppBundle:Playlist:contentComment', { 'idPlaylist': idPlaylist })
        )
        }}
    </div>
{% endblock %}