<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('logo.png') }}" />
        <script type="text/javascript">
            var DOMAIN_NAME = 'http://localhost/myband/';
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            
        <div class="playerVideo">
            <div id="videoDiv">Loading...</div>
        </div>
        <div class="playlistContent"></div>
    </body>
</html>
