<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <![endif]-->
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('logo.png') }}" />
        <meta property="fb:app_id" content="483746685074343"/>
        <script type="text/javascript">
            var DOMAIN_NAME = '{{ domain_name }}';
        </script>
    </head>
    <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=483746685074343";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ ua_google_analytics }}']);
        _gaq.push(['_setDomainName', 'vidlis.fr']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <input type="hidden" value="Anonyme" id="nameUser">
    </body>
</html>
