<form action="{{ path('fos_user_resetting_send_email') }}" data-container=".modalHTML .modal-content" method="POST" class="fos_user_resetting_request form-horizontal form-ajaxHTML">
    {% if invalid_username is defined %}
        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
    {% endif %}
    <div class="control-group">
        <label class="control-label">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
        <div class="controls">
            <input type="text" id="username" name="username" required="required" />
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" />
        </div>
    </div>
</form>
