<p style="text-align: justify;">Create a listening group allows you to share a playlist with others (colleagues, friends or even strangers)</p>
<form class="createGroupForm">
    <input type="text" class="input-small" id="groupName" name="groupName">
    <button type="submit" class="">Create a group</button>
</form>