{% extends "VidlisCoreBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block description %}Vidlis est un site de streaming musical, écoutez tout le catalogue musical de Youtube sans publicité gratuitement et sans coupure.{% endblock %}

{% block body %}
    {% include 'VidlisCoreBundle:Default:menu.html.twig' %}
    {% include 'VidlisCoreBundle:Default:player.html.twig' %}
    <div id="content">
    {{
        render_esi(
            controller('VidlisCoreBundle:Home:content')
        )
    }}
    </div>
    {% include 'VidlisCoreBundle:Default:playervideo.html.twig' %}
{% endblock %}