<h3 style="margin: 0px; margin-bottom: 25px;">Liste des groupes :</h3>
<p class="listGroup"></p>
<script>
    $(document).ready(function(){
        if (groupList.length) {
            $.each(groupList, function(){
                $('.listGroup').append('<a href="javascript:;" class="label label-success joinGroup" data-group-name="' + this.name + '" style="font-size: 15px; margin-right: 10px;">' + this.name + '</a>');
            })
        } else {
            $('.listGroup').html('Pas de groupe');
        }
    })
</script>