{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="{{ path('fos_user_profile_show') }}" class="register" onclick="loadBox('/profile');  return false;"><i class="fa fa-user"></i>&nbsp;{{ app.user }}</a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}" class="toModalHTML register"><i class="fa fa-sign-in"></i>&nbsp;Login</a>
{% endif %}
{% if tab is not defined %}
    {% set tab = '' %}
{% endif %}
<input type="hidden" id="current_tab" value="{{ tab }}">