{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="{{ path('fos_user_security_logout') }}" class="toModalHTML register"><i class="fa fa-sign-out"></i>&nbsp;Logout</a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}" class="toModalHTML register"><i class="fa fa-sign-in"></i>&nbsp;Login</a>
{% endif %}
{% if tab is not defined %}
    {% set tab = '' %}
{% endif %}
<input type="hidden" id="current_tab" value="{{ tab }}">