<div class="playerVideo">
    <div id="videoDiv"><img src="{{ asset('bundles/Vidlis/images/loadBlack.gif') }}"></div>
</div>
<div class="underVideo">
    <div id="viewCount"><span></span> vues</div>
    <div id="vote"><div class="like"></div></div>
    <div class="loadQueue"><img src="{{ asset('bundles/Vidlis/images/loadQueue.gif') }}"></div>
    <a href="{{ url('_formCreatePlaylist') }}" class="btn-save toModal"><i class="icon save"></i></a>
    <a href="#" class="btn-repeat"><i class="icon repeat"></i></a>
    <a href="#" class="btn-trash"><i class="icon trash"></i></a>
    <!--<a href="#" class="btn-grow"><i class="icon grow"></i></a>-->
</div>
<div id="playlistContent">
</div>
<div class="successAddedToQueue"></div>
<div class="errorMessage"></div>
<div class="closeShowPlaylist">></div>
<div class="powered">
    <a href="http://www.youtube.com/?gl=FR&hl=fr" target="_blank"><img src="https://developers.google.com/youtube/images/pwrdByYT-stack-white.png" width="100px"></a>
</div>
<div class="overlay"></div>
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->