<div id="timeSearch">00:00</div>
<div id="main-lecteur">
    <div id="jquery_jplayer_1" style="background-color: rgb(0, 0, 0); "></div>
    <div id="prog">
        <div id="buttons">
            <div id="play_b"><i class="fa fa-pause fa-lg"></i></div>
            <div id="play_p"><i class="fa fa-play fa-lg"></i></div>
            <div id="preview_b"><i class="fa fa-backward fa-lg"></i></div>
            <div id="next_b"><i class="fa fa-forward fa-lg"></i></div>
        </div>
        <div id="volume">
            <div id="icon_v"></div>
            <div id="bar_v">
                <div id="current_v" style="width: 66px; "></div>
                <div id="cursor_v" style="left: 60px; "></div>
            </div>
        </div>
        <div id="share"><a href="javascript:;"><i class="fa fa-share-alt mouseoverInfo" data-info="Partager"></i></a></div>
        <div id="time">--:--</div>
        <div id="title" class="truncate"></div>
        <div id="seekbar">
            <div id="preload"></div>
            <div id="play">
                <div id="icon_play"></div>
            </div>
        </div>
    </div>
</div>
<div id="loading"><img src="{{ asset('bundles/Vidlis/images/load.gif') }}"></div>