<div class="playerVideo">
    <div id="videoDiv"><img src="{{ asset('bundles/Vidlis/images/loadBlack.gif') }}"></div>
</div>
<div class="underVideo">
    <div id="viewCount"><span></span> vues</div>
    <div id="vote"><div class="like"></div></div>
    <div class="loadQueue"><img src="{{ asset('bundles/Vidlis/images/loadQueue.gif') }}"></div>
    <a href="#" class="btn-repeat"><i class="icon repeat"></i></a>
    <a href="#" class="btn-trash"><i class="icon trash"></i></a>
    <!--<a href="#" class="btn-grow"><i class="icon grow"></i></a>-->
</div>
<div id="playlistContent">
</div>
<div class="overlay"></div>
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->