<div id="sidebar" class="mCustomScrollbarActiv">
    <ul id="sidebarmenu">
        <li class="home">
            <a href="{{ url('_home') }}" onclick="loadBox('/');  return false;"><i class="icon-absolute home"></i>Accueil</a>
        </li>
        <li>
            <a href="{{ url('_homePlaylistsAll') }}" onclick="loadBox('/playlists/all');  return false;"><i class="icon-absolute playlist"></i>Playlists</a>
        </li>
    </ul>

</div>