{% if result %}
    <div class="alert alert-success">la playlist a bien été ajoutée à tes favoris</div>
{% else %}
    <div class="alert alert-danger">Cette playlist t'appartient... ;)</div>
{% endif %}