{% if result %}
    <div class="alert alert-success">The playlist has been deleted</div>
    <script>
        $(document).ready(function(){
            loadBox('/playlists');
            $('.modal, .overlay').delay( 800 ).fadeOut();
            return false;
        });
    </script>
{% else %}
    <div class="alert alert-danger">Are you sure that this playlist is yours ? (If yes there was an error)</div>
{% endif %}