{% include 'MyBandsCoreBundle:Default:sidebar.html.twig' %}
<div id="right_content">           
    <div class="box330 box-boreder">
        <div class="mapHome" id="concert1"></div>
        <div class="boxFooter"><h2>Sigmund Stern Grove</h2></div>
    </div>
    <div class="box330 box-boreder">
        <div class="boxHeader"><h2>Anti Sublime</h2></div>
        <div class="boxFooter dark">
            <div class="subTitle">Artiste</div>
            <h2 class="albumTitle">Psygnosis</h2>
            <a href="#" class="btn gray">Découvrir</a>
        </div>
    </div>
    <div class="box330 box-boreder">
        <div class="mapHome" id="concert2"></div>
        <div class="boxFooter"><h2>Sigmund Stern Grove</h2></div>
    </div>
    <div class="box330 box-boreder">
        <img src="{{ asset('bundles/mybands/images/map.png') }}">
        <div class="boxFooter"><h2>Sigmund Stern Grove</h2></div>
    </div>
    {% for album in albums %}
    <div class="box680 box-boreder">
        <div class="leftBox mCustomScrollbar">
            {% for title in album.titles %}
                <div class="item {% if loop.index is not odd %}pair{% endif %}"> {{ title.name }}</div>
            {% endfor %}
        </div>
        <div class="rightBox">
            <div class="boxHeader"><h2>{{ album.name }}</h2></div>
            <div class="boxFooter dark">
                <div class="subTitle">Artiste</div>
                <h2 class="albumTitle">{{ album.artist.name }}</h2>
                <a href="#" class="btn gray">Découvrir</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>