{% include 'VidlisCoreBundle:Default:sidebar.html.twig' %}

<div id="right_content">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li>
                    <a href="{{ url('_homePlaylists') }}" onclick="loadBox('/fr/playlists');  return false;">Mes playlists</a>
                </li>
                <li class="active">
                    <a href="{{ url('_homePlaylistsAll') }}" onclick="loadBox('/fr/playlists/all');  return false;">Toutes les playlists</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="box330 box-boreder">
        <div class="boxHeader"><h2>Anti Sublime</h2></div>
        <div class="boxFooter dark">
            <div class="subTitle">Artiste</div>
            <h2 class="albumTitle">Psygnosis</h2>
            <a href="#" class="btn gray">Découvrir</a>
        </div>
    </div>
</div>