{% extends "VidlisCoreBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% include 'VidlisCoreBundle:Default:header.html.twig'  with {'tab': 'playlist'}   %}
    <div id="content">
        {{
        render(
        controller('VidlisCoreBundle:Playlist:contentfavorite')
        )
        }}
    </div>
{% endblock %}