{% extends "VidlisCoreBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% include 'VidlisCoreBundle:Default:header.html.twig' %}
    <div id="content">
    {{
        render(
            controller('VidlisCoreBundle:Playlist:content')
        )
    }}
    </div>
{% endblock %}