<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li {% if tab == 'all' %}class="active"{% endif %}>
                <a href="{{ url('_homePlaylistsAll') }}" onclick="loadBox('/playlists/all');  return false;">All playlists</a>
            </li>
            <li {% if tab == 'mine' %}class="active"{% endif %}>
                <a href="{{ url('_homePlaylists') }}" onclick="loadBox('/playlists');  return false;">My playlists</a>
            </li>
            {% if connected %}
                <li {% if tab == 'favorite' %}class="active"{% endif %}>
                    <a href="{{ url('_homePlaylistsFavorite') }}" onclick="loadBox('/playlists/favoris');  return false;">My favorite playlists</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>