{% include 'MyBandsCoreBundle:Default:sidebar.html.twig' %}
<div id="right_content">
    <div id="map" style="height: 350px;"></div>
    <script>
        var map = new L.Map('map', {
                scrollWheelZoom: false
            }
        );
        var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
        cloudmadeAttribution = 'Map data &copy; 2013 OpenStreetMap contributors, Imagery &copy; 2013 CloudMade',
        cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});
        map.setView(new L.LatLng(45.756, 4.831), 12).addLayer(cloudmade);
        map.on('click', onMapClick);
        var popup = new L.Popup();
        function onMapClick(e) {
            var latlngStr = '(' + e.latlng.lat.toFixed(3) + ', ' + e.latlng.lng.toFixed(3) + ')';
            popup.setLatLng(e.latlng);
            popup.setContent("You clicked the map at " + latlngStr);
            map.openPopup(popup);
        }
    </script>
</div>