{% extends "VidlisCoreBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block description %}Vidlis is a music streaming website, listen to all the music catalog of YouTube without advertising, for free and without interruption.{% endblock %}

{% block body %}
    {% include 'VidlisCoreBundle:Default:header.html.twig'  with {'tab': 'artist'}   %}
    <div id="content">
        {{
        render_esi(
        controller('VidlisCoreBundle:Artist:contentArtist', {'artistName': artistName})
        )
        }}
    </div>
{% endblock %}