<div id="right_content">
    <div id="feeds">
        <div id="feeds_content">
            {% include 'VidlisCoreBundle:Artist:itemList.html.twig' with {'artists': artists} %}
        </div>
        <div class="loadMoreContent" data-limit="20" data-offset="20">Chargement en cours</div>
        <div class="clear"></div>
    </div>
</div>

<script>

</script>
{% include 'VidlisCoreBundle:Default:menu.html.twig'%}