<div id="right_content">
    <div id="feeds">
        <div id="feeds_content">
            {% include 'VidlisCoreBundle:Artist:itemList.html.twig' with {'artists': artists} %}
        </div>
        <div class="loadMoreContent">Chargement en cours</div>
        <div class="clear"></div>
    </div>
</div>

<script>
    var container = document.querySelector('#feeds_content');
    var msnry = new Masonry( container, {
        itemSelector: '.boxArtist'
    });
</script>
{% include 'VidlisCoreBundle:Default:menu.html.twig'%}