{% for artist in artists %}
    <a href="{{ url('_artistDetail', {'artistName': artist.name|url_encode}) }}" class="boxArtist">
        <h2 class="artistTitle">{{ artist.name }}</h2>
        <div class="clear"></div>
        <div class="images" style="height: {{ ((artist.getImagesPresentation()|length) / 2)|round * 150 }}px;">
            {% for images in artist.getImagesPresentation() %}
                <img src="{{ images }}" width="158px">
            {% endfor %}
        </div>
        <div class="clear"></div>
    </a>
{% endfor %}