<div class="images lite">
    <div class="shadow-main"></div>
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/07f492a00c904cc6ccf868010be4d5a6.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/6d2eea48197140eaa88bd78ee49c991a.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/3026db279f874a2ebf19b80fd3ac1449.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/577bf6a6f948a748d74c439bacfdfb41.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/90bb40360d154e21ce1641fed3f9c2c9.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/48309bc9fa65339089e6055afe16af39.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/070ba72ab0394085b09a77491d352752.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/6ded54858e7844d980909ba76c572e40.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/7ee97a7c0e884ca6cc0da389481fafe8.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/566b02f4340d414191aa719bb11a7283.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/02c08f5eb34e4242b06778bd0cf5a7e1.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/131fa5aeade0eb79d304cb30f149c6e2.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/1330ff2ab6164abf94dbb8828616a5ad.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/33b47c07494c424196e08fd73c0ba606.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/30828ccc656c45feb54e520befd1a84c.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/c800e0d794a24d879e8a5e3dc590d054.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/d27e218766b54431c409b2ce5d5f4952.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/884a8a6d5014471bc731806d0bff54cd.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/ed79871d9fb9445c815fff0a366091cb.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/fac89a2065604be1bcc2f04ce132b581.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/f5d68d716a2f4897c88b82a8393afa76.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/0405068f2cacc46efc940f61c07b7129.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/5c1d99a84c354bcda580b04e3c5848af.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/85238f98481648978167768da6694993.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/314e2944288d42eabbf62598239d6c17.png" class="imagesAlbum">
    <img src="https://lastfm-img2.akamaized.net/i/u/300x300/2a154b9ce97a4a9e9a8dc219cb1830a1.png" class="imagesAlbum">
</div>

<div class="w-full bg-grey">
    <div class="w-full p-3 md:p-6 lg:p-8 genders-list">
        <h2 class="text-white">You can be a radio too</h2>
        <p class="text-white">Everyone who is connected to Vidlis can share his current playlist to all other users.</p>
    </div>
</div>

<div class="content px-3 pt-3 md:px-6 md:pt-6 lg:px-8 lg:pt-8 flex flex-wrap">
    <div class="w-full cursor-pointer w-full" *ngFor="let radio of radios;">
        <div class="playlists show radios mb-3" *ngIf="radio.current && radio.current.playlist.length">
            <perfect-scrollbar>
                <div class="flex flex-row playlist-content">
                    <div class="item flex flex-row p-2 my-2 mr-2 cursor-pointer text-white text-sm relative" *ngFor="let item of radio.current.playlist; let i = index;"
                         [ngClass]="{ 'bg-grey-light-item': (i == radio.current.currentIndex), 'bg-grey-dark-item': (i != radio.current.currentIndex) }">
                        <div class="item-image">
                            <img src="{{ item.snippet.thumbnails.high.url }}" alt="">
                        </div>
                        <div class="flex flex-col overflow-hidden ml-2 justify-center">
                            <div class="font-bold truncate">{{ item.snippet.title }}</div>
                            <div class="truncate text-xs mt-2">{{ item.snippet.channelTitle }}</div>
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</div>
