.icon {
	background-image:url(../images/sprite_icon.png);
	display:inline-block;
	width:18px;
	height:18px;
}

.icon.blue {
     background-image:url(../images/sprite_icon_blue.png);
 }

.icon-absolute {
	background-image:url(../images/sprite_icon.png);
	display:inline-block;
	width:18px;
	height:18px;
	position:absolute;
	top:16px;
	left:11px;
}

.icon-absolute.blue {
    background-image:url(../images/sprite_icon_blue.png);
}

.icon-absolute.dribbble, .icon.dribbble {
	background-position:0px 0px;
}

.icon-absolute.instagram, .icon.instagram {
	background-position:-51px 0px;
}

.icon-absolute.flickr, .icon.flickr {
	background-position:-102px 0px;
}

.icon-absolute.reddit, .icon.reddit {
	background-position:-154px 0px;
}

.icon-absolute.delicious, .icon.delicious {
	background-position:-204px 0px;
}

.icon-absolute.forrst-symbol, .icon.forrst-symbol {
	background-position:-255px 0px;
}

.icon-absolute.chart, .icon.chart {
	background-position:-51px -335px;
}

.icon-absolute.album, .icon.album {
	background-position:-204px -672px;
}

.icon-absolute.artiste, .icon.artiste {
	background-position:-308px -672px;
}

.icon-absolute.radioico, .icon.radioico {
	background-position:-459px -168px;
}

.icon-absolute.playlist, .icon.playlist {
	background-position:-51px -447px;
}

.icon-absolute.calendar, .icon.calendar {
	background-position:-408px -337px;
}

.icon-absolute.search, .icon.search {
	background-position:-204px -448px;
}

.icon-absolute.home, .icon.home {
	background-position:-102px -280px;
}

.icon-absolute.abonnement, .icon.abonnement {
	background-position:-154px -280px;
}

.icon-absolute.trash, .icon.trash {
	background-position:-51px -279px;
}

.icon-absolute.grow, .icon.grow {
	background-position:-307px -503px;
}

.icon-absolute.fullscreen, .icon.fullscreen {
	background-position:0px -839px;
}

.icon-absolute.repeat, .icon.repeat {
	background-position:0px -895px;
}

.icon-absolute.save, .icon.save {
    background-position:-460px -503px;
}

.icon-absolute.heart, .icon.heart {
    background-position:-255px -112px;
}

.icon-absolute.play, .icon.play {
    background-position: -308px -896px;
}

.icon-absolute.suggestion, .icon.suggestion {
    background-position: -460px -1006px;
}

