@media only screen and (min-width: 1500px) {

    #feeds{
        width: 1412px !important;
    }

    .disqus {
        width:64% !important;
        position:relative;
        float:left;
        margin: 0px 1% 20px 1% !important;
        margin-bottom:20px;
    }
}