body {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
	margin:0px;
	padding:0px;
	background-color:#fcfcfc;
}
pre, code {
    font-family: 'DejaVu Sans Mono',Menlo,Consolas,monospace;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-main-content-innerors: none;
    -moz-border-top-colors: none;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin-bottom: 15px;
    margin-top: 5px;
}
ol {
    list-style: decimal outside none;
}
ul {
    list-style: disc outside none;
}


/*------Responsive Image----------------*/
.responsive-img{
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

blockquote {
    line-height: 20px;
	background-color:#fbf8db;
	padding:10px;
	border-left:5px solid #e3cfa3;
	margin-bottom:15px;
}
/* =========================================================
**************************Heading***************************
============================================================ */
h1 {
    color: #000000;
    font: 400 28px/27px 'open_sans_semiboldregular',Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
}
h2 {
    color: #000000;
    font: 400 24px/25px 'open_sans_semiboldregular',Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
}
h3 {
    color: #000000;
    font: 400 22px/22px 'open_sans_semiboldregular',Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
}
h4 {
    color: #000000;
    font: 400 18px/20px 'open_sans_semiboldregular',Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
	
}
h5 {
    color: #000000;
    font: 400 16px/20px 'open_sans_semiboldregular',Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
	
}
h6 {
    color: #000000;
    font: 400 14px/20px 'open_sansregular',Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
	
}
p { 
	margin-bottom:10px;
	line-height:18px;
}
/* =========================================================
********************Clear Floated Elements******************
============================================================ */
.left{ 
	float:left;
}
.right{
	float:right;
}
.clear {  
	clear: both;  
	display: block;  
	overflow: hidden;  
	visibility: hidden;  
	width: 0;  height: 0;
}
.clearfix:before,.clearfix:after{
  content: '.';  
  display: block;  
  overflow: hidden;  
  visibility: hidden;  
  font-size: 0;  
  line-height: 0;  
  width: 0;  
  height: 0;
 }
.clearfix:after{  
	clear: both;
}
.clearfix{  
	zoom: 1;
}
.hover-effect{
	cursor:pointer;
	z-index:100;
}

/* =========================================================
***************************Columns**************************
============================================================ */
#topbar {
	left:0;
	z-index:1000;
	-moz-box-shadow: inset 0px -3px 0px 0px #151616;
	-webkit-box-shadow: inset 0px -3px 0px 0px #151616;
	-o-box-shadow: inset 0px -3px 0px 0px #151616;
	box-shadow: inset 0px -3px 0px 0px #151616;
	height:60px;
	background-color: #1d1d1d;
	position:fixed;
	top:200px;
    width: 219px
}
#right-sidebar {
	float:right;
	width:330px;
	margin-top:50px;
}
#left-sidebar {
	float:left;
	width:330px;
	margin-top:50px;
}
#center-col {
	float:left;
	margin-top:50px;
}
#main-content {
	left:250px;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
	height:100%;
}
.home-s1 #main-content {
	background:url(placeholders/02.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	bottom:0;
}
.home-s2 #main-content {
	background:url(placeholders/04.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.home-s3 #main-content {
	text-align:left;
	bottom:0;
}
#main-content-inner {
	width:80%;
	margin:0 auto;
}
.fixed-width #main-content-inner {
	width:100%;
	margin:0 auto;
}
.last {
	margin-right:0 !important;
}
.wrapper {
	min-height:100%;
}
#left-panel {
	position:fixed;
	top:50px;
	left:0;
	width:25px;
	height:50px;
	background-color:#121111;
	color:#d2d2d2;
	font-size:20px;
	z-index:1000;
	text-align:center;
	line-height:50px;
	cursor:pointer;
	display:none;
	border-radius:0 4px 4px 0;
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
}
/* =========================================================
**********************Sidebar*******************************
============================================================ */
#main-nav {
    padding: 9px 0px 0px 15px;
}
#main-menu {
	margin: 0;
	padding: 0;
}
#main-menu > li {
	display: list-item;
	list-style: none;
	float:left;
}
#main-menu > li .radios{
	background:url('../images/radios.png') no-repeat;
}
#main-menu > li .concerts{
	background:url('../images/concerts.png') no-repeat;
}
#main-menu > li .home{
	background:url('../images/home.png') no-repeat;
}
#main-menu > li .search{
	background:url('../images/search.png') no-repeat;
}
#main-menu > li > a {
	display:block;
	padding:25px 15px 12px 15px;
	font-size:12px;
	line-height:55px;
	font-size:17px;
	display:block;
	color:white;
	text-decoration:none;
	text-shadow: 0px 1px 0px rgba(0,0,0, 0.8);
}
i.icon-large{
	display:inline-block;
	width:40px;
	height:37px;
}

#player {
	position: fixed;
	top: 0px;
	height:70px;
	left:50px;
	min-width:100%;
	background-color:#3d4340;
}

#sidebar  {
    position: fixed;
    overflow: auto;
    z-index: 990;
    top:200px;
    left: 0;
    width: 220px;
    height: 100%;
    border-right: 1px solid #000000;
    background: #262626;
    padding-top:55px;
}

#sidebar  ul {
	margin: 0;
	padding: 0;
}

#sidebar ul li {
	display: list-item;
	list-style: none;
	float:left;
}

#sidebar ul li a{
	width:180px;
	padding-left:40px;
	padding-top:15px;
	padding-bottom:15px;
	line-height:20px;
	vertical-align:middle;
	display:block;
	font-size:1.3em;
	text-decoration:none;
	color: #fefefe;
	position:relative;
}
#sidebar ul li a.first{
}

#sidebar ul li.title {
	padding-left:15px;
	font-size:1.5em;
	color: #7d7d7d;
	margin-bottom:15px;
	margin-top:15px;
}

#sidebar ul li.home {
        margin-top:10px;
}

#sidebar ul li.search {
	padding-left:15px;
	margin-top:15px;
}
#right_content {
    margin-left: 220px;
    margin-top: 70px;
}

.box330 {
    width:46%;
    height:386px;
    position:relative;
    float:left;
    margin: 0px 2% 20px 2%;
    margin-bottom:20px;
}

.box680 {
    width:680px;
    height:386px;
    position:relative;
    float:left;
    margin:10px;
}

.rightBox {
    position:absolute;
    right:0px;
    width:330px;
    height:386px;
    border-left: 1px solid #e9e9e9
}

.leftBox {
    width:350px;
    height:386px;
    overflow: auto;
    float:left;
}

.box-boreder {
    box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.3);
    -moz-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.3);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.3);
}

.boxBody .rowItem{
    padding:10px;
    position:relative;
    cursor: pointer;
}
.boxBody .rowItem:hover {
    background-color: #ccc;
}

.boxBody {
    height:276px;
    overflow: auto;
}

.boxBody .rowItem .videoName, .boxBody .rowItem .itemNumber {
    display: inline;
}
.boxBody .rowItem .videoName {
    white-space: nowrap;
    text-overflow: ellipsis;

}
.boxBody .rowItem .itemNumber {
    padding-right: 10px;
}
.boxBody .rowItem.pair {
    background-color: #ededed;
}
.boxBody .rowItem.pair:hover {
    background-color: #ccc;
}
.boxBody .rowItem .videoDuration {
    position: absolute;
    right: 10px;
    top: 10px;
}

.boxFooter {
    position:absolute;
    left:0px;
    bottom:0px;
    height:60px;
    width:100%;
    padding:10px 15px;
}

.boxHeader {
    background-color: #ededed;
    height:50px;
    position: relative;
}
.removePl{
    position: absolute;
    right: 10px;
    top: 12px;
}

.boxHeader h2{
    color: #666666;
    text-shadow: 0px 1px 0px #fff;
    padding:0px;
    margin:0px;
    font-weight: bold;
    padding:11px 15px;
    font-size: 1.6em;
}

.boxFooter h2 {
    color:#5d5d5d;
    padding:0px;
    margin:0px
}

.boxFooter h2.albumTitle {
    color:#444444;
    font-weight: bold;
    text-shadow: 0px -1px 0px #ffffff;
    padding:0px;
    margin:0px
}

.boxFooter .subTitle {
    color: #666666;
    padding-top:12px;
    font-size:1.1em;
    text-shadow: 0px -1px 0px #ffffff;
}

.boxFooter.dark {
    background-color: #ededed;
}

.boxFooter .btn {
    position:absolute;
    right:10px;
    top:10px;
    height: 40px;
    text-align: center;
    line-height: 25px;
    font-size:1em;
    text-transform: uppercase;
    text-decoration: none;
}

.boxFooter .btn.gray{
    background-color: #8b8b7f;
    color: #fff;
    text-shadow: 0px 1px 0px #40403f;
}

#loading {
    position: absolute;
    right: 350px;
    z-index: 20000;
    top: 18px;
    width: 40px;
    height: 40px;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}

/* Form wrapper styling */
.form-wrapper {
    width: 190px;
}
 
/* Form text input */
 
.form-wrapper #search {
    width: 160px;
    padding: 11px 5px;
    float: left;    
    font: 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    color: #999;
    background: #1d1d1d;
    border-radius: 3px 0 0 3px;      
}
 
.form-wrapper #search:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper #search::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper #search:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper #search:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 3px 0px 0px 0px;
    cursor: pointer;
    height: 40px;
    width: 30px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #262626;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
.form-wrapper button:hover{     
    background: #629ec4;
}   
   
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #27658d;
    outline: 0;   
}
 
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #262626 transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #629ec4;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #27658d;
}      
 
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}
.mapHome {
    width: 330px;
    height:290px;
}

.item {
    height:30px;
    line-height:30px;
    font-family: arial;
    font-size: 14px;
    padding: 10px 0px 10px 30px;
    cursor:pointer;
}

.item.pair {
    background: whiteSmoke;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
}

.playerVideo {
    position:fixed;
    top:0px;
    left:0px;
    width:219px;
    height:200px;
    z-index: 1008;
    -moz-box-shadow: inset 0px 0px -3px 0px #151616;
    -webkit-box-shadow: inset 0px 0px -3px 0px #151616;
    -o-box-shadow: inset 0px 0px -3px 0px #151616;
    box-shadow: inset 0px 0px -3px 0px #151616;
    border-left: 1px solid #000000;
}

#playlistContent {
    position: fixed;
    overflow: auto;
    top: 89px;
    left: -160px;
    width: 380px;
    height: 100%;
    background: #262626;
    z-index: 900;
    border-right: 1px solid #000000
}
#playlistContent.open, .underVideo.open{
    left: 220px;
}

.underVideo {
    position: fixed;
    overflow: auto;
    top: 60px;
    z-index: 900;
    left: -160px;
    width: 380px;
    height: 29px;
    background: #262626;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #1d1d1d;
}

.itemSearch {
    margin:10px;
    border:1px solid #ccc;
    cursor:pointer;
    position: relative;
    padding-top: 9px;
    padding-left: 9px;
    padding-bottom: 8px;
}

.itemSearch:hover {
    background-color: #F5F5F5;
}

.relative:hover .itemSub {
    display:block;
}

.itemSub {
    display:none;
    position: absolute;
    left: 15px;
    bottom: 5px;
}

.itemImgSearch {
    width: 200px;
    height:113px;
    border:1px solid #ccc;
}

.itemImgSearch img {
    width: 200px;
    height:113px;
}

.itemTitleSearch {
    position: absolute;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, .3);
    padding-right: 10px;
    left: 219px;
    top: 9px;
    font-weight: bold;
    font-size: 1.1em;
    font-family: Arial;
}

.itemDescriptionSearch {
    position: absolute;
    padding-right: 10px;
    left: 219px;
    top: 49px;
    font-size: 1em;
    font-family: Arial;
}

.itemPlaylist {
    position:relative;
    background: #262626;
    margin: 0;
    border-top: 1px solid #393939;
    border-bottom: 1px solid #1d1d1d;
    font-size: 13px;
    color: #6e6e6e;
    padding:10px;
    text-shadow: 0 1px 0 #000;
    cursor:pointer;
}

.itemPlaylistLoad div{
    position: absolute;
    left: 220px;
    top: 15px;
}

.itemPlaylist.active {
    border-color: #4f4f4f;
    background: #4f4f4f;
}

.itemPlaylist:hover {
    border-color: #353535;
    background: #353535;
}

.titlePlaylist {
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top: 10px;
    left: 80px;
    padding-right: 28px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channelPlaylist {
    font-size: 11px;
    color: #9E9E9E;
    text-shadow: 0 1px 0 #000;
    line-height: 1.4em;
    height: 1.4em;
    white-space: nowrap;
}

#timeSearch {
    position: absolute;
    top:17px;
    left:300px;
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 10000000;
    display:none;
}

.btn-repeat {
    position: absolute;
    top:4px;
    right:35px;
}

.loadQueue {
    position: absolute;
    top:5px;
    right:60px;
    display: none;
}

.btn-repeat.active {
    position: absolute;
    top:3px;
    right:31px;
    background-color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 1px 4px;
}

.btn-trash {
    position: absolute;
    top:4px;
    right:10px;
}

.btn-grow {
    position: absolute;
    top:4px;
    right:60px;
}

#vote {
    position: absolute;
    left: 10px;
    top: 20px;
    height: 2px;
    width: 170px;
    border-radius: 4px;
    background-color: #ccc;
    display:none;
}

#vote .like {
    background-color: #590;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 2px;
    float: left;
}

#viewCount {
    position: absolute;
    left: 10px;
    top: 2px;
    font-size: 11px;
    color: #9E9E9E;
    text-shadow: 0 1px 0 #000;
    line-height: 1.4em;
    height: 1.4em;
    display:none;
}

.deleteItemPlaylist {
    position: absolute;
    right: 5px;
    top: 5px;
    width : 25px;
    height: 25px;
    background-image: url("../images/close.png");
    display:none;
    cursor:pointer;
}

.itemContainer {
    position:relative;
}

.itemContainer:hover .deleteItemPlaylist {
    display:block;
}

.youtubeAuthen, .register {
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.30);
    -ms-box-shadow: inset 0 1px 0 rgba(0,0,0,.30);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.30);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.30);
    background-image: -moz-linear-gradient(bottom,#b01d13 0,#c6282c 100%);
    background-image: -ms-linear-gradient(bottom,#b01d13 0,#c6282c 100%);
    background-image: -o-linear-gradient(bottom,#b01d13 0,#c6282c 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#b01d13),color-stop(100%,#c6282c));
    background-image: -webkit-linear-gradient(bottom,#b01d13 0,#c6282c 100%);
    background-image: linear-gradient(to top,#b01d13 0,#c6282c 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#c6282c,EndColorStr=#b01d13);
    position: absolute;
    right: 250px;
    z-index: 20000;
    top: 18px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
}

.register {
    right: 250px;
}

.register:hover {
    color:#fff;
    text-decoration: none;
}

.relative {
    position: relative;
}

.overlay {
    background-color: #C7C7C7;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1010;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
}

.modal-content {
    padding: 10px;
    background: rgba(54, 25, 25, .5) !important;
}

.modal-body {
    background-color: #fff;
}

.modal-header {
    background-color: #629ec4;
    moz-box-shadow: inset 0px -3px 0px 0px #27658d;
    -webkit-box-shadow: inset 0px -3px 0px 0px #27658d;
    -o-box-shadow: inset 0px -3px 0px 0px #27658d;
    box-shadow: inset 0px -3px 0px 0px #27658d;
}

.modal-header h4 {
    color: #fff;
    top: 12px;
    font-size: 1.25em;
    text-shadow: -1px 1px 2px #27658d;
}

#videoDiv {
    background-color: #000000;
    height: 200px;
    vertical-align: middle;
    border-right: 1px solid #000000;
    width: 219px;
    position: relative;
}

#videoDiv img {
    position: absolute;
    left: 100px;
    top: 80px;
}

.presentation {
    padding: 0px 10px;
}

.presentation p {
    font-size:1.3em;
}
.search-input-bg input {
    height: 53px;
    font-size: 13.22pt;
    padding-left: 20px;
    padding-top: 10px;
    margin-left: 20px;
    margin-top: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    width: 300px;
    background: none;
    border: 0 none;
    padding: 0;
    padding-top:4px;
    float: left;
    color: #666;
}
.search-input-bg input:focus {
    outline: 0;
}

.btn-home-search {
    border:0px;
    background: transparent;
    padding: 4px 0px 0px 0px;
}

.searchZoneHome {
    width:400px;
    margin:10px auto;
    border: 1px solid #ccc;
}

.searchZoneHome .search-button-item {
    display: inline-block;
    float:left;
}

.checked {
    margin:0px;
    padding: 0px;
}

.checked li {
    list-style: none;
    margin:10px;
}
.checked li p {
    padding-left: 55px;
    background-image: url('../images/check_icon.gif');
    background-repeat: no-repeat;
    background-position: 15px 5px;
    margin: 0px;
}

.publicity {
    width: 730px;
    margin: 10px auto 15px auto;
}

.btn-register-home {
    background-color: #629ec4;
    padding: 20px;
    border-radius: 4px;
    font-size:1.3em;
    color: white;
    height:60px;
    moz-box-shadow: inset 0px -3px 0px 0px #27658d;
    -webkit-box-shadow: inset 0px -3px 0px 0px #27658d;
    -o-box-shadow: inset 0px -3px 0px 0px #27658d;
    box-shadow: inset 0px -3px 0px 0px #27658d;
    margin-top:40px;
}

.btn-register-home:hover {
    color: white;
    text-decoration: none;
    moz-box-shadow: inset 0px -2px 0px 0px #27658d;
    -webkit-box-shadow: inset 0px -2px 0px 0px #27658d;
    -o-box-shadow: inset 0px -2px 0px 0px #27658d;
    box-shadow: inset 0px -2px 0px 0px #27658d;
}

.addToFavorite {
    position: absolute;
    top: 21px;
    left: 10px;
}

.closeShowPlaylist {
    position:fixed;
    top: 80px;
    left:220px;
    height: 40px;
    width:30px;
    background-color:#262626;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    line-height: 38px;
    z-index: 900;
    font-size: 28px;
    font-weight: bold;
    color: #ccc;
    padding-left: 4px;
    text-shadow: 0 1px 0 #ededed;
}

.closeShowPlaylist.open {
    left:600px;
}

.successAddedToQueue {
    position:fixed;
    top: 10px;
    left:850px;
    z-index: 1009;
    color: #ffffff;
    background-color: #468847;
    border-color: #d6e9c6;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    display: none;
}

.errorMessage {
    position:fixed;
    top: 10px;
    left:850px;
    color: #ffffff;
    background-color: #c6282c;
    border-color: #b01d13;
    padding: 10px;
    border-radius: 4px;
    display: none;
    font-weight: bold;
    z-index: 1009;
}

.powered {
    position: fixed;
    bottom: 20px;
    left: 50px;
    z-index: 990;
}

.clear {
    clear:both;
}

@media only screen and (min-width: 1500px) {
    .box330 {
        width: 31%;
        margin: 0px 1% 20px 1%;
    }
}