body {
    background: #222222;
    margin: 0px auto;
    padding: 0px 10px;
    font-family: 'Droid Sans',Helvetica,Arial,Sans-Serif;
    margin-bottom: 10px;
    color: #fff;
    max-width: 1700px;
    min-width: 1170px;
    font-size: 14px;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.main-container {
    max-width: 1600px;
    position: relative;
    margin: auto;
}

a:hover {
    text-decoration: none;
}
pre, code {
    font-family: 'DejaVu Sans Mono',Menlo,Consolas,monospace;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-main-content-innerors: none;
    -moz-border-top-colors: none;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin-bottom: 15px;
    margin-top: 5px;
}
ol {
    list-style: decimal outside none;
}
ul {
    list-style: disc outside none;
}


/*------Responsive Image----------------*/
.responsive-img{
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

blockquote {
    line-height: 20px;
	background-color:#fbf8db;
	padding:10px;
	border-left:5px solid #e3cfa3;
	margin-bottom:15px;
}
/* =========================================================
**************************Heading***************************
============================================================ */
h1 {
    color: #000000;
    font: 400 28px/27px 'open_sans_semiboldregular',Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
}
h2 {
    color: #000000;
    font: 400 24px/25px 'open_sans_semiboldregular',Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
}
h3 {
    color: #000000;
    font: 400 22px/22px 'open_sans_semiboldregular',Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
}
h4 {
    color: #000000;
    font: 400 18px/20px 'open_sans_semiboldregular',Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
	
}
h5 {
    color: #000000;
    font: 400 16px/20px 'open_sans_semiboldregular',Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
	
}
h6 {
    color: #000000;
    font: 400 14px/20px 'open_sansregular',Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
	
}
p { 
	margin-bottom:10px;
	line-height:18px;
}
/* =========================================================
********************Clear Floated Elements******************
============================================================ */
.left{ 
	float:left;
}
.right{
	float:right;
}
.clear {  
	clear: both;  
	display: block;  
	overflow: hidden;  
	visibility: hidden;  
	width: 0;  height: 0;
}
.clearfix:before,.clearfix:after{
  content: '.';  
  display: block;  
  overflow: hidden;  
  visibility: hidden;  
  font-size: 0;  
  line-height: 0;  
  width: 0;  
  height: 0;
 }
.clearfix:after{  
	clear: both;
}
.clearfix{  
	zoom: 1;
}
.hover-effect{
	cursor:pointer;
	z-index:100;
}

/* =========================================================
***************************Columns**************************
============================================================ */
#topbar {
	left:0;
	z-index:1000;
	-moz-box-shadow: inset 0px -3px 0px 0px #151616;
	-webkit-box-shadow: inset 0px -3px 0px 0px #151616;
	-o-box-shadow: inset 0px -3px 0px 0px #151616;
	box-shadow: inset 0px -3px 0px 0px #151616;
	height:60px;
	background-color: #1d1d1d;
	position:fixed;
	top:200px;
    width: 219px
}
#right-sidebar {
	float:right;
	width:330px;
	margin-top:50px;
}
#left-sidebar {
	float:left;
	width:330px;
	margin-top:50px;
}
#center-col {
	float:left;
	margin-top:50px;
}
#main-content {
	left:250px;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
	height:100%;
}
.home-s1 #main-content {
	background:url(placeholders/02.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	bottom:0;
}
.home-s2 #main-content {
	background:url(placeholders/04.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.home-s3 #main-content {
	text-align:left;
	bottom:0;
}
#main-content-inner {
	width:80%;
	margin:0 auto;
}
.fixed-width #main-content-inner {
	width:100%;
	margin:0 auto;
}
.last {
	margin-right:0 !important;
}
.wrapper {
	min-height:100%;
}
#left-panel {
	position:fixed;
	top:50px;
	left:0;
	width:25px;
	height:50px;
	background-color:#121111;
	color:#d2d2d2;
	font-size:20px;
	z-index:1000;
	text-align:center;
	line-height:50px;
	cursor:pointer;
	display:none;
	border-radius:0 4px 4px 0;
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
}
/* =========================================================
**********************Sidebar*******************************
============================================================ */
#main-nav {
    padding: 9px 0px 0px 15px;
}
#main-menu {
	margin: 0;
	padding: 0;
}
#main-menu > li {
	display: list-item;
	list-style: none;
	float:left;
}
#main-menu > li .radios{
	background:url('/images/radios.png') no-repeat;
}
#main-menu > li .concerts{
	background:url('/images/concerts.png') no-repeat;
}
#main-menu > li .home{
	background:url('/images/home.png') no-repeat;
}
#main-menu > li .search{
	background:url('/images/search.png') no-repeat;
}
#main-menu > li > a {
	display:block;
	padding:25px 15px 12px 15px;
	font-size:12px;
	line-height:55px;
	font-size:17px;
	display:block;
	color:white;
	text-decoration:none;
	text-shadow: 0px 1px 0px rgba(0,0,0, 0.8);
}
i.icon-large{
	display:inline-block;
	width:40px;
	height:37px;
}

#player {
	position: fixed;
	top: 0px;
	height:70px;
	left:50px;
	min-width:100%;
	background-color:#3d4340;
}

#sidebar  {
    position: fixed;
    overflow: auto;
    z-index: 990;
    top:200px;
    left: 0;
    width: 220px;
    height: 100%;
    border-right: 1px solid #000000;
    background: #262626;
    padding-top:55px;
}

#sidebar  ul {
	margin: 0;
	padding: 0;
}

#sidebar ul li {
	display: list-item;
	list-style: none;
	float:left;
}

#sidebar ul li a{
	width:180px;
	padding-left:40px;
	padding-top:15px;
	padding-bottom:15px;
	line-height:20px;
	vertical-align:middle;
	display:block;
	font-size:1.3em;
	text-decoration:none;
	color: #fefefe;
	position:relative;
}
#sidebar ul li a.first{
}

#sidebar ul li.title {
	padding-left:15px;
	font-size:1.5em;
	color: #7d7d7d;
	margin-bottom:15px;
	margin-top:15px;
}

#sidebar ul li.home {
        margin-top:10px;
}

#sidebar ul li.search {
	padding-left:15px;
	margin-top:15px;
}
#right_content {
    background-color: #ecedef;
    color: #2b2b2b;
    min-height: 660px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
    margin-top: 55px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.box330 {
    max-width: 588px;
    height: 440px;
    vertical-align: top;
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: left;
    width: 320px;background-color: #fff;
    padding-bottom: 30px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
}

.boxplayed {
    max-width: 588px;
    vertical-align: top;
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    display: inline-block;
    text-align: left;
    width: 320px;
    background-color: #fff;
    padding-bottom: 40px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
    cursor: pointer;
    height: 218px;
}


.boxArtist {
    max-width: 588px;
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    text-align: left;
    width: 320px;
    float: left;
    background-color: #fff;
    padding-bottom: 40px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
    cursor: pointer;
}

.boxplayed .buttonPlay {
    position: absolute;
    top: 84px;
    left: 50%;
    margin-left: -22px;
    width: 44px;
    height: 44px;
    display: none;
    background-image: url('/images/buttonPlay.png');
}

.boxplayed:hover .buttonPlay {
    display: block;
}

.buttonShare{
    position: absolute;
    bottom: -21px;
    left: 10px;
    width: 44px;
    height: 44px;
    display: none;;
}

.boxplayed:hover .buttonShare {
    display: block;
}

.disqus {
    width:46%;
    position:relative;
    float:left;
    margin: 0px 2% 20px 2%;
    margin-bottom:20px;
    padding:20px;
}

.box680 {
    width:680px;
    height:386px;
    position:relative;
    float:left;
    margin:10px;
}

.rightBox {
    position:absolute;
    right:0px;
    width:330px;
    height:386px;
    border-left: 1px solid #e9e9e9
}

.leftBox {
    width:350px;
    height:386px;
    overflow: auto;
    float:left;
}

.box-boreder {
    box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.3);
    -moz-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.3);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.3);
}

.boxBody .rowItem{
    padding:10px;
    position:relative;
}

.boxBody .rowItem:hover {
    background-color: rgba(119, 119, 119, 0.1);
}

.boxBody .rowItem:hover .itemNumber{
    display: none;
}

.boxBody .rowItem:hover .playButtonRow, .boxBody .rowItem:hover .trashButtonRow{
    display: block;
}

.boxBody .rowItem.mine:hover .videoDuration {
    display:none;
}

.boxBody .rowItem .playButtonRow {
    position: absolute;
    left: 6px;
    top: 10px;
    display: none;
    cursor: pointer;
}

.boxBody .rowItem .trashButtonRow {
    position: absolute;
    right: 10px;
    top: 8px;
    display: none;
    cursor: pointer;
}

.boxBody {
    height:202px;
    overflow: auto;
}

.boxBody .rowItem .itemNumber {
    position: absolute;
}
.boxBody .rowItem .videoName:hover {
    text-decoration: underline;
    cursor: pointer;
}
.boxBody .rowItem .videoName {
    padding-right: 50px;
    padding-left: 20px;
    height: 19px;
    overflow: hidden;
}
.boxBody .rowItem .itemNumber {
    padding-right: 10px;
}
.boxBody .rowItem.pair {
    background-color: rgba(119, 119, 119, 0.1);
}
.boxBody .rowItem.pair:hover {
    background-color: rgba(119, 119, 119, 0.2);
}
.boxBody .rowItem .videoDuration {
    position: absolute;
    right: 10px;
    top: 10px;
}

.boxFooter {
    position:absolute;
    left:0px;
    bottom:0px;
    height:60px;
    width:100%;
    padding:10px 15px;
}

.boxHeader {
}

.boxHeader .images{
    position: relative;
    height: 150px;
    border-bottom: 1px rgba(0,0,0,0.1) solid;
    border-top: 1px rgba(0,0,0,0.1) solid;
    overflow: hidden;
}

.boxplayed .images {
    position: absolute;
    height: 150px;
    top: 28px;
    border-bottom: 1px rgba(0,0,0,0.1) solid;
    border-top: 1px rgba(0,0,0,0.1) solid;
    overflow: hidden;
}

.removePl{
    position: absolute;
    right: 10px;
    top: 7px;
}

.boxHeader .images h2 a{
    position: absolute;
    z-index: 3;
    padding: 4px 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    top: 14px;
    left: 14px;
    border-radius: 3px;
    color: white;
    background: #0c8fe7;
    margin-right: 14px;
    line-height: 17px;
}

.boxHeader .playlistCreatorName, .boxplayed .videoTitle, .boxArtist .videoTitle {
    font-size: 13px;
    color: #98A7B8;
    display: block;
    font-weight: 600;
    padding: 5px;
    float: left;
}

.boxArtist .images {
    min-height: 300px;
}

.boxplayed .videoTitle, .boxArtist .videoTitle {
    padding: 0px 5px;
    line-height: 28px;
}

.boxHeader .playlistCreatorDate {
    font-size: 13px;
    color: #98A7B8;
    display: block;
    padding: 5px;
    font-weight: 600;
    float: right;
}


.boxHeader .playlistCreatorName i{
    padding-right: 4px;
    font-weight: 500;
}


.boxFooter h2.albumTitle {
    color:#444444;
    font-weight: bold;
    text-shadow: 0px -1px 0px #ffffff;
    padding:0px;
    margin:0px
}

.boxFooter .subTitle {
    color: #666666;
    padding-top:12px;
    font-size:1.1em;
    text-shadow: 0px -1px 0px #ffffff;
}

.boxFooter.dark {
    background: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px rgba(0,0,0,0.1) solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 3px 0;
}

.btn, .btn:visited {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: 40px;
    min-height: 18px;
    padding: 7px 10px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Lato',Helvetica,Arial,Sans-Serif;
    border: 1px solid #656d68;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.7),inset 0 2px 2px -1px #0081d9;
    box-shadow: inset 0 1px 0 #0081d9,0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 5px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
    background: #0056af;
    background: -webkit-linear-gradient(bottom, #0056af 0%, #0064ca 100%);
    background: -moz-linear-gradient(bottom, #0056af 0%, #0064ca 100%);
    background: -ms-linear-gradient(bottom, #0056af 0%, #0064ca 100%);
    background: linear-gradient(bottom, #0056af 0%,#0064ca 100%);
    -webkit-transition: all 0.3;
    transition: all 0.3;
    text-transform: uppercase;
}


.boxFooter .btn {
    position: absolute;
    right: 10px;
    top: 10px;
}
.btn:not(.active):hover{
    background: #0060c3;
    background: -webkit-linear-gradient(bottom, #0060c3 0%, #006ede 100%);
    background: -moz-linear-gradient(bottom, #0060c3 0%, #006ede 100%);
    background: -ms-linear-gradient(bottom, #0060c3 0%, #006ede 100%);
    background: linear-gradient(bottom, #0060c3 0%,#006ede 100%);
    color: #ffffff;
}
#loading {
    position: absolute;
    right: 330px;
    z-index: 20000;
    top: 12px;
    width: 40px;
    height: 40px;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}

/* Form wrapper styling */
.form-wrapper {
    width: 190px;
}
 
/* Form text input */
 
.form-wrapper #search {
    width: 160px;
    padding: 11px 5px 12px 5px;
    float: left;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    border: 0;
    color: #999;
    background: #1d1d1d;
}
 
.form-wrapper #search:focus {
    outline: 0;
    background: #fff;
    box-shadow: -1px 2px 1px -1px rgba(0,0,0,0.5) inset;
}
 
.form-wrapper #search::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper #search:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper #search:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 6px 0px 0px 0px;
    cursor: pointer;
    height: 45px;
    width: 30px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #262626;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
.form-wrapper button:hover{     
    background: #0c8fe7;
}   
   
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #0c8fe7;
    box-shadow: -1px 2px 1px -1px rgba(0,0,0,0.5) inset;
    outline: 0;   
}
 
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #262626 transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #0c8fe7;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #0c8fe7;
}      
 
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}
.mapHome {
    width: 330px;
    height:290px;
}

.item {
    height:30px;
    line-height:30px;
    font-family: arial;
    font-size: 14px;
    padding: 10px 0px 10px 30px;
    cursor:pointer;
}

.item.pair {
    background: whiteSmoke;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
}

.playerVideo {
    position:absolute;
    top:-10px;
    right:10px;
    width:212px;
    height:212px;
    z-index: 1008;
    padding: 5px;
    border: 1px solid #000000;
    box-shadow: inset 0px 0px 1px 0px #757575;
    background: #222222;
    border-radius: 3px;
}


.playerVideo.grow {
    left:20px;
    top:20px;
    z-index: 1020;
    padding: 10px;
    background: rgba(54, 25, 25, .5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.3);
    -moz-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.3);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.3);
}

#playlistContent, #suggestionContent {
    position: relative;
    overflow: hidden;
    top: 0px;
    left: 10px;
    height: 100%;
    background: #262626;
    z-index: 2;
    border-bottom-left-radius: 4px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 10px;
}
#suggestionContent {
    display: none;
}
#playlistContent.open, .underVideo.open, #suggestionContent.open{
    border-right: 1px solid #000000;
    width: 380px;
}

.underVideo {
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
    width: 400px;
    z-index: 900;
    height: 29px;
    background: #1d1d1d;
    border-bottom-right-radius: 3px;
    border-bottom: 1px solid #010101;
    border-right: 1px solid #010101;
}

.itemSearch {
    margin:10px;
    border:1px solid #ccc;
    cursor:pointer;
    position: relative;
    padding-top: 9px;
    padding-left: 9px;
    padding-bottom: 8px;
    background-color: #f6F6F6;
}

.itemSearch:hover {
    background-color: #e4e4e4;
}

.itemSearch:hover .buttonPlay{
    display:block;
}
.itemSearch .buttonPlay:hover {
    background-position: -44px 0px;
}

.itemSearch .buttonPlay {
    position: absolute;
    top: 45px;
    left: 87px;
    width: 44px;
    height: 44px;
    display: none;
    background-image: url('/images/buttonPlay.png');
}

.relative:hover .itemSub {
    display:block;
}

.itemSub {
    display:none;
    position: absolute;
    left: 15px;
    bottom: 5px;
}

.itemImgSearch {
    width: 200px;
    height:113px;
    border:1px solid #ccc;
}

.itemImgSearch img {
    width: 200px;
    height:113px;
}

.itemTitleSearch {
    position: absolute;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, .3);
    padding-right: 10px;
    left: 219px;
    top: 9px;
    font-weight: bold;
    font-size: 1.1em;
    font-family: Arial;
}

.itemDescriptionSearch {
    position: absolute;
    padding-right: 10px;
    left: 219px;
    top: 49px;
    font-size: 1em;
    font-family: Arial;
}

.itemPlaylist {
    position:relative;
    background: #262626;
    border-top: 1px solid #393939;
    border-left: 1px solid #393939;
    border-bottom: 1px solid #1d1d1d;
    border-right: 1px solid #1d1d1d;
    font-size: 13px;
    color: #6e6e6e;
    padding:10px;
    text-shadow: 0 1px 0 #000;
    cursor:pointer;
    width: 280px ;
    display: inline-block;
    margin: 0px 10px;
    margin-bottom: 10px;
    float: left;
}

.itemPlaylistLoad div{
    position: absolute;
    left: 220px;
    top: 15px;
}

.itemPlaylist.active {
    border-color: #4f4f4f;
    background: #4f4f4f;
}

.itemPlaylist:hover, .itemLaunched:hover {
    border-color: #353535;
    background: #353535;
}

.itemPlaylist:hover .buttonPlayPlaylist, .itemPlaylist:hover .buttonPlaySuggestion, .itemLaunched:hover .buttonPlaying {
    display: block;
}

.buttonPlayPlaylist, .buttonPlaySuggestion, .buttonPlaying {
    position: absolute;
    display: none;
    top: 19px;
    left: 27px;
    background-image: url('/images/buttonPlay.png');
    width: 30px;
    height: 30px;
    background-position: 0px -132px;
}

.buttonPlaySuggestion, .buttonPlaying {
    background-position: 0px -162px;
}

.titlePlaylist {
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top: 10px;
    left: 80px;
    padding-right: 28px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channelPlaylist {
    font-size: 11px;
    color: #9E9E9E;
    text-shadow: 0 1px 0 #000;
    line-height: 1.4em;
    height: 1.4em;
    white-space: nowrap;
}

#timeSearch {
    position: absolute;
    top:11px;
    left:300px;
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 10000000;
    display:none;
}

#infoLabel {
    position: absolute;
    display: inline-block;
    padding: 4px 6px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #3a87ad;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 10000000;
    moz-box-shadow: inset 0px -2px 0px 0px #27658d;
    -webkit-box-shadow: inset 0px -2px 0px 0px #27658d;
    -o-box-shadow: inset 0px -2px 0px 0px #27658d;
    box-shadow: inset 0px -2px 0px 0px #27658d;
    display:none;
}

.btn-suggestion {
    position: absolute;
    top: 4px;
    right: 31px;
    display: none;
}

.btn-save {
    position: absolute;
    top: 4px;
    right: 55px;
    display:none;
}

.loadQueue {
    position: absolute;
    top: 4px;
    right: 110px;
    display: none;
}

.btn-suggestion.active {
    top:2px;
    right: 31px;
    background-color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 1px 4px;
}

.btn-trash {
    position: absolute;
    top:4px;
    right:10px;
}

.btn-grow {
    position: absolute;
    top:4px;
    right:35px;
}

#vote {
    position: absolute;
    left: 10px;
    top: 20px;
    height: 2px;
    width: 170px;
    border-radius: 4px;
    background-color: #ccc;
    display:none;
}

#vote .like {
    background-color: #590;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 2px;
    float: left;
}



.boxplayed .vote {
    position: absolute;
    left: 10px;
    bottom: 24px;
    height: 2px;
    width: 300px;
    border-radius: 4px;
    background-color: #ccc;
}

.boxplayed .vote .like {
    background-color: #590;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 2px;
    float: left;
}

.boxplayed .counts {
    position: absolute;
    right: 10px;
    bottom: 3px;
    color: #666;
    font-size: 85%;
}

.boxplayed .counts i {
    padding-right: 6px;
}

.boxplayed .counts .likeCount, .boxplayed .counts .dislikeCount {
    display: inline-block;
    float: left;
    margin: 0px 3px;
}

#viewCount {
    position: absolute;
    left: 10px;
    top: 2px;
    font-size: 11px;
    color: #9E9E9E;
    text-shadow: 0 1px 0 #000;
    line-height: 1.4em;
    height: 1.4em;
    display:none;
}

.deleteItemPlaylist {
    position: absolute;
    right: 10px;
    top: 5px;
    width : 25px;
    height: 25px;
    background-image: url("/images/close.png");
    display:none;
    cursor:pointer;
}

.itemContainer {
    position:relative;
}

.itemContainer:hover .deleteItemPlaylist {
    display:block;
}

.youtubeAuthen {
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.30);
    -ms-box-shadow: inset 0 1px 0 rgba(0,0,0,.30);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.30);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.30);
    background-image: -moz-linear-gradient(bottom,#b01d13 0,#c6282c 100%);
    background-image: -ms-linear-gradient(bottom,#b01d13 0,#c6282c 100%);
    background-image: -o-linear-gradient(bottom,#b01d13 0,#c6282c 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#b01d13),color-stop(100%,#c6282c));
    background-image: -webkit-linear-gradient(bottom,#b01d13 0,#c6282c 100%);
    background-image: linear-gradient(to top,#b01d13 0,#c6282c 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#c6282c,EndColorStr=#b01d13);
    position: absolute;
    right: 250px;
    z-index: 20000;
    top: 18px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
}

.register {
    position: absolute;
    right: 223px;
    z-index: 20000;
    top: 1px;
    color: #D4D4D4;
    padding: 0px 10px;
    height: 45px;
    line-height: 45px;
    cursor:pointer;
    font-weight: 900;
}

.register:hover {
    background: rgba(255,255,255,0.05);
    color:#fff;
    text-decoration: none;
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.30);
    -ms-box-shadow: inset 0 1px 0 rgba(0,0,0,.30);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.30);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.30);
}

.relative {
    position: relative;
}

.overlay {
    background-color: #C7C7C7;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1010;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
}

.modal-content {
    padding: 10px;
    background: rgba(54, 25, 25, .5) !important;
}

.modal-body {
    background-color: #fff;
}

.modal-header {
    background-color: #629ec4;
    moz-box-shadow: inset 0px -3px 0px 0px #27658d;
    -webkit-box-shadow: inset 0px -3px 0px 0px #27658d;
    -o-box-shadow: inset 0px -3px 0px 0px #27658d;
    box-shadow: inset 0px -3px 0px 0px #27658d;
}

.modal-header h4 {
    color: #fff;
    top: 12px;
    font-size: 1.25em;
    text-shadow: -1px 1px 2px #27658d;
}

#videoDiv {
    background-color: #000000;
    height: 200px;
    vertical-align: middle;
    border-right: 1px solid #000000;
    width: 200px;
    position: relative;
}

#videoDiv img {
    position: absolute;
    left: 90px;
    top: 80px;
}

.presentation {
    position: relative;
}

.titleSearch {
    position: absolute;
    left: 50%;
    top: 100px;
}

.presentation h2 {
    color: #FFF;
    text-shadow: 0 1px 4px rgba(0,0,0,0.8);
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 28px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-align: center;
    padding-top: 30px;
}

.presentation p {
    font-size:1.3em;
}

.search-input-bg input {
    height: 40px;
    font-size: 13.22pt;
    margin: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #666;
    padding: 10px 5px;
    color: #666;
    border-radius: 6px;
}
.search-input-bg input:focus {
    outline: 0;
    border: 1px solid #222;
    box-shadow: inset 0 1px 0 0 #454545,0 1px 5px 0 rgba(0,0,0,0.76);
}

.btn-home-search {
    border:0px;
    background: transparent;
    padding: 4px 0px 0px 0px;
}

.searchZoneHome {
    text-align: center;
}

.formSearchHome {
    display: inline-block;
    border-radius: 5px;
    border: solid 1px #000000;
    margin-top: 18px;
    background: #262626;
    background: -webkit-linear-gradient(bottom, #262626 0%, #353535 100%);
    background: -moz-linear-gradient(bottom, #262626 0%, #353535 100%);
    background: -ms-linear-gradient(bottom, #262626 0%, #353535 100%);
    background: linear-gradient(bottom, #262626 0%,#353535 100%);
    box-shadow: inset 0 1px 0 0 #454545,0 1px 5px 0 rgba(0,0,0,0.76);
}

.search-input-bg, .search-button {
    display: inline-block;
    float: left;
}

.checked {
    margin:0px;
    padding: 0px;
}

.checked li {
    list-style: none;
    margin:10px;
}
.checked li p {
    padding-left: 55px;
    background-image: url('/images/check_icon.gif');
    background-repeat: no-repeat;
    background-position: 15px 5px;
    margin: 0px;
}

.publicity {
    width: 730px;
    margin: 10px auto 15px auto;
}

.btn-register-home {
    background-color: #629ec4;
    padding: 17px 20px 20px 20px;
    border-radius: 6px;
    font-size:1.3em;
    color: white;
    height:60px;
    moz-box-shadow: inset 0px -3px 0px 0px #27658d;
    -webkit-box-shadow: inset 0px -3px 0px 0px #27658d;
    -o-box-shadow: inset 0px -3px 0px 0px #27658d;
    box-shadow: inset 0px -3px 0px 0px #27658d;
    margin: 20px auto;
    display: block;
    width: 500px;
    text-align: center;
    text-shadow: -1px 1px 2px #000;
}

.btn-register-home:hover {
    color: white;
    text-decoration: none;
    moz-box-shadow: inset 0px -2px 0px 0px #27658d;
    -webkit-box-shadow: inset 0px -2px 0px 0px #27658d;
    -o-box-shadow: inset 0px -2px 0px 0px #27658d;
    box-shadow: inset 0px -2px 0px 0px #27658d;
}


.btn-red-big {
    background-color: #c6282c;
    padding: 10px;
    border-radius: 4px;
    font-size:1.3em;
    color: white;
    height:60px;
    moz-box-shadow: inset 0px -3px 0px 0px #b01d13;
    -webkit-box-shadow: inset 0px -3px 0px 0px #b01d13;
    -o-box-shadow: inset 0px -3px 0px 0px #b01d13;
    box-shadow: inset 0px -3px 0px 0px #b01d13;
}

.btn-red-big:hover {
    color: white;
    text-decoration: none;
    moz-box-shadow: inset 0px -2px 0px 0px #b01d13;
    -webkit-box-shadow: inset 0px -2px 0px 0px #b01d13;
    -o-box-shadow: inset 0px -2px 0px 0px #b01d13;
    box-shadow: inset 0px -2px 0px 0px #b01d13;
}

.addToFavorite {
    position: absolute;
    top: 21px;
    left: 10px;
}

.closeShowPlaylist {
    position:absolute;
    top: 140px;
    left:0px;
    height: 40px;
    width:30px;
    background-color:#262626;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    line-height: 41px;
    z-index: 900;
    font-size: 17px;
    font-weight: bold;
    padding-left: 6px;
    text-shadow: -1px 1px 2px #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.closeShowPlaylist.open {
    left:380px;
}

.successAddedToQueue {
    position:fixed;
    top: 22px;
    left:850px;
    z-index: 1009;
    color: #ffffff;
    background-color: #468847;
    border-color: #d6e9c6;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    display: none;
}

.errorMessage {
    position:fixed;
    top: 22px;
    left:850px;
    color: #ffffff;
    background-color: #c6282c;
    border-color: #b01d13;
    padding: 10px;
    border-radius: 4px;
    display: none;
    font-weight: bold;
    z-index: 1009;
}

.powered {
    position: fixed;
    bottom: 20px;
    left: 50px;
    z-index: 990;
}

.clear {
    clear:both;
}
.boxHeader h2:hover .editPlaylistLink {
    display: block;
}

.textAlignRight {
    text-align: right;
}

.contentRight {
    margin:10px;
}

.itemLaunched {
    position: relative;
    padding: 10px;
    background-color: #262626;
    border-top: 1px solid #393939;
    border-bottom: 1px solid #1d1d1d;
    border-left: 1px solid #1d1d1d;
    border-right: 1px solid #1d1d1d;
    cursor: pointer;
}

.titleLaunched {
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    padding: 3px 0px;
    position: absolute;
    top: 5px;
    left: 80px;
}

.channelLaunched {
    font-size: 11px;
    color: #9E9E9E;
    text-shadow: 0 1px 0 #000;
    line-height: 1.4em;
    height: 1.4em;
    white-space: nowrap;
}

.infoPlayed {
    position: fixed;
    bottom: -300px;
    right: 20px;
    width: 350px;
    height: 300px;
    padding: 10px;
    z-index: 10;
    background-color: #262626;
    border-top-left-radius: 4px;
}
.infoPlayed h2 {
    margin: 0px 0px 10px 0px;
    color: #ccc;
    font-size: 1.3em;
}

.infoPlayed.open {
    bottom: 0px;
}
.showPlaying.open {
    bottom: 300px;
}

.showPlaying {
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #262626;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 28px;
    font-weight: bold;
    color: #ccc;
    text-align: center;
    cursor: pointer;
}

.infoPlayed .contentPlayed {
    height: 263px;
    width: 330px;
    overflow: auto;
}
#mainToolbar {
    position: relative;
    z-index: 99;
    height: 47px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: solid 1px #000000;
    margin-top: 13px;
    background: #262626;
    background: -webkit-linear-gradient(bottom, #262626 0%, #353535 100%);
    background: -moz-linear-gradient(bottom, #262626 0%, #353535 100%);
    background: -ms-linear-gradient(bottom, #262626 0%, #353535 100%);
    background: linear-gradient(bottom, #262626 0%,#353535 100%);
    box-shadow: inset 0 1px 0 0 #454545,0 1px 5px 0 rgba(0,0,0,0.76);
}

#mainToolbar #logo {
    color: #ffffff;
    position: absolute;
    display: inline-block;
    font-size: 1.8em;
    line-height: 45px;
    left: 25px;
    text-shadow: -1px 1px 2px #000000;
    font-family: 'Oswald', sans-serif;
}

#secondToolbar {
    position: absolute;
    z-index: 95;
    background: #1d1d1d;
    height: 47px;
    margin-top: 0px;
    border-bottom: solid 1px black;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:10px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.8);
    top: 0px;
}

ul, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.UI_nav.navigation>li.seances {
    position: relative;
    display: inline-block;
    height: 39px;
    margin: 2px 0 0 0;
    padding: 0 20px;
    line-height: 42px;
    font-size: 13px;
    font-weight: bold;
    width: 145px;
    text-align: center;
}

.UI_nav.navigation>li {
    display: inline-block;
    margin-right: 5px;
}

.UI_nav.navigation>li.tab>a.default {
    color: #ffffff;
    border-bottom: none;
    background: #434343;
    background: -webkit-linear-gradient(top, #434343 0%, #2e2e2e 100%);
    background: -moz-linear-gradient(top, #434343 0%, #2e2e2e 100%);
    background: -ms-linear-gradient(top, #434343 0%, #2e2e2e 100%);
    background: linear-gradient(top, #434343 0%,#2e2e2e 100%);
    box-shadow: inset 0px 1px 1px 0px #5e5e5e;
    margin-top: 2px;
    margin-bottom: -1px;
    height: 41px;
}

.UI_nav.navigation>li.tab>a {
    display: inline-block;
    height: 39px;
    margin: 2px 0 0 0;
    width: 150px;
    text-align: center;
    font-size: 13px;
    line-height: 42px;
    color: #878787;
    font-weight: bold;
    background: #1f1f1f;
    border: 1px solid #101010;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: inset 0px 0px 1px 0px #757575;
    position: relative;
}
.UI_nav.navigation>li.tab>a:hover {
    color: #ffffff;
    background-color: #272727;
}

.uiSplitter {
    height: 3px;
    background: #2d2d2d;
    border-top: 1px solid #3d3d3d;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
    display: block;
    clear: left;
}

#feeds{
    width: 1060px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

#feeds h2, #feeds h3 {
    color: #444444;
    margin-left: 15px;
}

.marginTop0 {
    margin-top: 0px;
}

.modal-body {
    color: #000000;
}

#toolbarSearch {
    position: absolute;
    left:720px;
    top: 0px;
}

.login, .signin {
    display: inline-block;
    width: 50%;
    padding: 30px;
    text-align: center;
    float: left;
    margin-bottom: 30px;
    color: #ffffff;
}

.login:hover, .signin:hover {
    color: #ffffff;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

.login {
    background: #27ae60;
}

.signin {
    background: #3498db;
}

#grow {
    padding: 3px;
    cursor: pointer;
}

.playlistContainer {
    padding-right: 200px;
    position: absolute;
    display: none;
    top: 5px;
    width: 100%;
    background: #262626;
    border: 1px solid #010101;
    height: 140px;
    border-radius: 3px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.8);
}

#playlistContent ul, #suggestionContent ul  {
    overflow: hidden;
}

#playlistContent ul li, #suggestionContent ul li {
    float: left;
}

.mCSB_horizontal .mCSB_container {
    margin-bottom: 0px !important;
}

.playlistOpen .playlistContainer{
    display: block !important;
}

.playlistOpen #right_content {
    margin-top: 200px !important;
}
.playlistOpen #secondToolbar {
    top: 145px !important;
}

.lettersRow {
    padding-left: 15px;
    margin-right: 168px;
}

.btnLetter {
    border-radius: 3px;
    color: white;
    background: #0c8fe7;
    margin-right: 14px;
    line-height: 42px;
    padding:10px;
}

.loadMoreContent {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    line-height: 40px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
    display: none;
}

.noMore {
    opacity: 0.2;
}