<div id="topbar">
    <nav id="main-nav">
            <form class="form-wrapper cf">
                <input type="text" placeholder="Recherche" required>
                <button type="submit"><i class="icon search"></i></button>
            </form> 
    </nav>
</div>