<div class="playerVideo">
    <div id="videoDiv">Loading...</div>
</div>
<div class="underVideo">
    <div id="viewCount"><span></span> vues</div>
    <div id="vote"><div class="like"></div></div>
    <a href="#" class="btn-repeat"><i class="icon repeat"></i></a>
    <a href="#" class="btn-trash"><i class="icon trash"></i></a>
    <a href="#" class="btn-grow"><i class="icon grow"></i></a>
</div>
<div id="playlistContent">
</div>