<div id="sidebar">
    <ul>
        <li class="search">
        </li>
        <li class="title">Nouveautés</li>
	<li>
            <a href="{{ url('_homeAlbums') }}" onclick="loadBox('/fr/albums');  return false;" class="first"><i class="icon-absolute album"></i>Ablums</a>
	</li>
	<li>
            <a href="{{ url('_homeArtists') }}" onclick="loadBox('/fr/artistes');  return false;"><i class="icon-absolute artiste"></i>	Artistes</a>
	</li>
	<li>
            <a href=""><i class="icon-absolute chart"></i>Top écoutes</a>
	</li>
        <li class="title">Outils</li>
	<li>
            <a href="{{ url('_homeConcerts') }}" onclick="loadBox('/fr/concerts');  return false;" class="first"><i class="icon-absolute calendar"></i>Concerts</a>
	</li>
	<li>
            <a href=""><i class="icon-absolute radio"></i>Radios</a>
	</li>
	<li>
            <a href=""><i class="icon-absolute playlist"></i>Playlists</a>
	</li>
    </ul>
</div>