<div id="sidebar" class="mCustomScrollbarActiv">
    <ul id="sidebarmenu">
        <li class="home">
            <a href="{{ url('_home') }}" onclick="loadBox('/fr/');  return false;"><i class="icon-absolute home"></i>Accueil</a>
        </li>
        <li class="title">Nouveautés</li>
        <li>
            <a href="" onclick="loadBox('/fr/albums');  return false;" class="first"><i class="icon-absolute abonnement"></i>Mes abonnements</a>
        </li>
        <li>
            <a href="{{ url('_tops') }}" onclick="loadBox('/fr/top');  return false;" ><i class="icon-absolute chart"></i>Top écoutes</a>
        </li>
        <li class="title">Outils</li>
        <li>
            <a href="{{ url('_homeRadios') }}" onclick="loadBox('/fr/radios');  return false;"><i class="icon-absolute radio"></i>Radios</a>
        </li>
        <li>
            <a href="{{ url('_homePlaylists') }}" onclick="loadBox('/fr/playlists');  return false;"><i class="icon-absolute playlist"></i>Playlists</a>
        </li>
    </ul>
</div>