<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-POYwD7xcktv3gUeZO5s/9nUbRJG/WOmV6jfEGikMJu77LGYO8Rfs2X7URG822aum" crossorigin="anonymous">
  <title>Vidlis</title>
  <meta name="description" content="Create playlists from your favorites YouTube videos">
  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>


  <%= htmlWebpackPlugin.files.webpackManifest %>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  <!-- CSS will be injected by webpack here -->
  <!-- Preload link tags will be injected by webpack here -->

</head>

<body>

  <app>
    <div class="loading-app absolute pin flex items-center justify-center" style="
    background: #D13237;
    background: linear-gradient(110deg, #D13237, #c69828);
    opacity: .85;">
      <div class="container max-w-sm rounded">
        <div class="name text-4xl p-4 text-white text-center uppercase rounded-b-none rounded" style="background-color: #D13237">
          Vidlis
        </div>
        <div class="text-white p-4 text-2xl text-center" style="background-color: #1A1A1A">
            Create playlists from your favorites YouTube videos
        </div>
        <div class="text-5xl text-white text-center p-8 rounded-t-none rounded" style="background-color: #1A1A1A"><i class="fa fa-spinner-third fa-w-16 fa-spin fa-lg"></i></div>
      </div>
    </div>
  </app>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45678438-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-45678438-1');
  </script>


  <!-- Scripts will be injected by webpack here -->
  <script src="https://www.youtube.com/iframe_api"></script>
</body>
</html>
