{% include 'MyBandsCoreBundle:Default:sidebar.html.twig' %}
<div id="right_content">           
        {% for item in resultsSearch.items %}
        <div class="itemSearch">
            <div class="itemImgSearch"><img src="{{ item.snippet.thumbnails.default.url }}"></div>
            <div class="itemTitleSearch">{{ item.snippet.title }}</div>
            <div class="itemDescriptionSearch">{{ item.snippet.description }}</div>
        </div>
        {% endfor %}
</div>