{% include 'MyBandsCoreBundle:Default:sidebar.html.twig' %}
<div id="right_content">           
<script src="https://apis.google.com/js/plusone.js"></script>
        {% for item in resultsSearch.items %}
        <div class="itemSearch box-boreder">
            <div class="itemImgSearch box-boreder"><img src="{{ item.snippet.thumbnails.medium.url }}"></div>
            <div class="itemInfos"></div>
            <div class="itemTitleSearch">{{ item.snippet.title }}</div>
            <div class="itemDescriptionSearch">{{ item.snippet.description }}</div>
            <div class="itemSub">
                <div class="g-ytsubscribe" data-channelid="{{ item.snippet.channelId }}" data-layout="default"></div>
            </div>
        </div>
        {% endfor %}
</div>