{% include 'MyBandsCoreBundle:Default:sidebar.html.twig' %}
<div id="right_content">           
    <div class="box330 box-boreder">
        <div class="boxHeader"><h2>Anti Sublime</h2></div>
        <div class="boxFooter dark">
            <div class="subTitle">Artiste</div>
            <h2 class="albumTitle">Psygnosis</h2>
            <a href="#" class="btn gray">Découvrir</a>
        </div>
    </div>
    <div class="box680 box-boreder">
        <div class="rightBox">
            <div class="boxHeader"><h2>Anti Sublime</h2></div>
            <div class="boxFooter dark">
                <div class="subTitle">Artiste</div>
                <h2 class="albumTitle">Psygnosis</h2>
                <a href="#" class="btn gray">Découvrir</a>
            </div>
        </div>
    </div>
</div>