{% extends "MybandsCoreBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% include 'MybandsCoreBundle:Default:menu.html.twig' %}
    {% include 'MybandsCoreBundle:Default:player.html.twig' %}
    <div id="content">
    {{
        render(
            controller('MybandsCoreBundle:Artist:content')
        )
    }}
    </div>
    {% include 'MybandsCoreBundle:Default:playervideo.html.twig' %}
{% endblock %}